In [1]:
print("Barsilla")

Barsilla

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\barsilla\desktop\project 1\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\barsilla\desktop\project 1\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 1.6 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/11.5 MB 2.1 MB/s eta 0:00:05
   ----- ---------------------------------- 1.6/11.5 MB 2.0 MB/s eta 0:00:05
   ------- -------------------------------- 2.1/11.5 MB 2.3 MB/s eta 0:00:05
   --------- ------------------------------ 2.6/11.5 MB 2.6 MB/s eta 0:00:04
   ---------- ----------------------------- 3.1/11.5 MB 2.4 MB/s eta 0:00:04
   -------------- ------------------------- 4.2/11.5 MB 2.7 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.5 MB 2.9 MB/s eta 0:00:03
   --------------------- ------------------ 6.0/11.5 MB 3.1 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 3.3 MB/s eta 0:00:02
   ---------------------------- ----------- 8.1/11.5 MB 3.5 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.5 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.1 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -- ------------------------------------- 0.8/12.6 MB 5.3 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/12.6 MB 3.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.6/12.6 MB 4.4 MB/s eta 0:00:03
   --------- ------------------------------ 3.1/12.6 MB 4.6 MB/s eta 0:00:03
   ------------ --------------------------- 3.9/12.6 MB 4.0 MB/s eta 0:00:03
   -------------- ------------------------- 4.5/12.6 MB 3.9 MB/s eta 0:00:03
   -------------- ------------------------- 4.7/12.6 MB 3.8 MB/s eta 0:00:03
   --------------- ------------------------ 5.0/12.6 MB 3.4 MB/s eta 0:00:03
   ------------------ --------------------- 5.8/12.6 MB 3.2 MB/s eta 0:00:03
   ------------------- -------------------- 6.3/12.6 MB 3.1 MB/s eta 0:00:03
   --------------------- ------------------ 6.8/12.6 MB 3.1 MB/s eta 0:00:02
   ----------------------- ---------------- 7.3/12.6 MB 3.0 MB/s eta 0:00:02
   ------------------------ --------------- 7.9/12.6 MB 3.0 MB/s eta 0:00:02
   --------------------------- ------------ 8.7/12.6 MB 3.0 MB/s eta 0:00:02
   ----------------------------- ---------- 9.2/12.6 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 9.7/12.6 MB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 11.0/12.6 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 2.6 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [2]:
#df = pd.read_csv("C:\Users\barsilla\Desktop\Project 1\Customers.csv", engine='python', encoding="ISO-8859-1")
df = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Customers.csv", engine='python', encoding="ISO-8859-1")
df.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965

In [9]:
df.dtypes

CustomerKey     int64
Gender         object
Name           object
City           object
State Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

In [13]:
df.isnull().sum()

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [17]:
df.fillna("",inplace=True)

In [17]:
df.isnull().sum()

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

In [17]:
df.dtypes

CustomerKey             int64
Gender                 object
Name                   object
City                   object
State Code             object
State                  object
Zip Code               object
Country                object
Continent              object
Birthday       datetime64[ns]
dtype: object

In [18]:
df['Birthday'] = pd.to_datetime(df['Birthday'])
df['Birthday'].dtype

dtype('<M8[ns]')

In [19]:
df['Zip Code'].unique()

array(['5523', '6522', '3380', ..., '38833', '22079', '28405'],
      shape=(9505,), dtype=object)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.2+ MB

In [21]:
df['State Code'].fillna("", inplace=True)

C:\Users\barsilla\AppData\Local\Temp\ipykernel_9756\4078893266.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['State Code'].fillna("", inplace=True)

In [33]:
df.columns

Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'State',
       'Zip Code', 'Country', 'Continent', 'Birthday'],
      dtype='object')

In [22]:
datas = df.values.tolist()
datas

[[301,
  'Female',
  'Lilly Harding',
  'WANDEARAH EAST',
  'SA',
  'South Australia',
  '5523',
  'Australia',
  'Australia',
  Timestamp('1939-07-03 00:00:00')],
 [325,
  'Female',
  'Madison Hull',
  'MOUNT BUDD',
  'WA',
  'Western Australia',
  '6522',
  'Australia',
  'Australia',
  Timestamp('1979-09-27 00:00:00')],
 [554,
  'Female',
  'Claire Ferres',
  'WINJALLOK',
  'VIC',
  'Victoria',
  '3380',
  'Australia',
  'Australia',
  Timestamp('1947-05-26 00:00:00')],
 [786,
  'Male',
  'Jai Poltpalingada',
  'MIDDLE RIVER',
  'SA',
  'South Australia',
  '5223',
  'Australia',
  'Australia',
  Timestamp('1957-09-17 00:00:00')],
 [1042,
  'Male',
  'Aidan Pankhurst',
  'TAWONGA SOUTH',
  'VIC',
  'Victoria',
  '3698',
  'Australia',
  'Australia',
  Timestamp('1965-11-19 00:00:00')],
 [1086,
  'Male',
  'Hayden Clegg',
  'TEMPLERS',
  'SA',
  'South Australia',
  '5371',
  'Australia',
  'Australia',
  Timestamp('1954-01-20 00:00:00')],
 [1133,
  'Male',
  'Nicholas Caffyn',
  'JUBILEE POCKET',
  'QLD',
  'Queensland',
  '4802',
  'Australia',
  'Australia',
  Timestamp('1969-11-22 00:00:00')],
 [1256,
  'Male',
  'Lincoln Jenks',
  'KULLOGUM',
  'QLD',
  'Queensland',
  '4660',
  'Australia',
  'Australia',
  Timestamp('1950-03-12 00:00:00')],
 [1314,
  'Male',
  'Isaac Israel',
  'EDITH RIVER',
  'NT',
  'Northern Territory',
  '852',
  'Australia',
  'Australia',
  Timestamp('1965-12-21 00:00:00')],
 [1568,
  'Male',
  'Luke Virtue',
  'KOTTA',
  'VIC',
  'Victoria',
  '3565',
  'Australia',
  'Australia',
  Timestamp('1975-07-25 00:00:00')],
 [1585,
  'Female',
  'Anna Hallstrom',
  'GREEN LAKE',
  'VIC',
  'Victoria',
  '3401',
  'Australia',
  'Australia',
  Timestamp('1990-08-12 00:00:00')],
 [1626,
  'Female',
  'Mary Leach',
  'NEDS CORNER',
  'VIC',
  'Victoria',
  '3496',
  'Australia',
  'Australia',
  Timestamp('1985-10-17 00:00:00')],
 [1642,
  'Female',
  'Ruby Ambrose',
  'TARLO',
  'NSW',
  'New South Wales',
  '2580',
  'Australia',
  'Australia',
  Timestamp('1965-03-03 00:00:00')],
 [1677,
  'Male',
  'Dean Innes',
  'ELLESMERE',
  'QLD',
  'Queensland',
  '4610',
  'Australia',
  'Australia',
  Timestamp('1964-11-22 00:00:00')],
 [1817,
  'Female',
  'Laura Le Rennetel',
  'BEAUCHAMP',
  'VIC',
  'Victoria',
  '3579',
  'Australia',
  'Australia',
  Timestamp('1986-07-10 00:00:00')],
 [1863,
  'Female',
  'Chelsea Watkins',
  'NAMBOUR DC',
  'QLD',
  'Queensland',
  '4560',
  'Australia',
  'Australia',
  Timestamp('1984-09-22 00:00:00')],
 [1945,
  'Male',
  'Angus Beaurepaire',
  'GREENFIELDS',
  'WA',
  'Western Australia',
  '6210',
  'Australia',
  'Australia',
  Timestamp('1974-09-20 00:00:00')],
 [2238,
  'Female',
  'Isabelle Cochran',
  'BRUCKNELL',
  'VIC',
  'Victoria',
  '3268',
  'Australia',
  'Australia',
  Timestamp('1969-10-31 00:00:00')],
 [2248,
  'Male',
  'Rory Spargo',
  'JUNG',
  'VIC',
  'Victoria',
  '3401',
  'Australia',
  'Australia',
  Timestamp('1987-12-15 00:00:00')],
 [2435,
  'Female',
  'Lilian Hall',
  'BLAKEBROOK',
  'NSW',
  'New South Wales',
  '2480',
  'Australia',
  'Australia',
  Timestamp('1968-04-01 00:00:00')],
 [2469,
  'Female',
  'Phoebe Kneeshaw',
  'BIDWILL',
  'QLD',
  'Queensland',
  '4650',
  'Australia',
  'Australia',
  Timestamp('1948-05-20 00:00:00')],
 [2512,
  'Female',
  'Matilda Hake',
  'BUNKERS HILL',
  'VIC',
  'Victoria',
  '3352',
  'Australia',
  'Australia',
  Timestamp('1992-11-13 00:00:00')],
 [2604,
  'Female',
  'Claudia Davison',
  'KUBIN VILLAGE',
  'QLD',
  'Queensland',
  '4875',
  'Australia',
  'Australia',
  Timestamp('1995-04-08 00:00:00')],
 [2751,
  'Male',
  'Nate Lowes',
  'CALLIDE',
  'QLD',
  'Queensland',
  '4715',
  'Australia',
  'Australia',
  Timestamp('1979-08-20 00:00:00')],
 [2792,
  'Male',
  'Zachary Perkin',
  'BAMGANIE',
  'VIC',
  'Victoria',
  '3333',
  'Australia',
  'Australia',
  Timestamp('1976-08-25 00:00:00')],
 [2836,
  'Male',
  'Nicholas Shand',
  'GORDONBROOK',
  'QLD',
  'Queensland',
  '4610',
  'Australia',
  'Australia',
  Timestamp('1959-02-23 00:00:00')],
 [3002,
  'Male',
  'Joshua Aronson',
  'SMITHTON',
  'TAS',
  'Tasmania',
  '7330',
  'Australia',
  'Australia',
  Timestamp('2000-11-08 00:00:00')],
 [3006,
  'Female',
  'Alica Stuckey',
  'HARTLEY',
  'NSW',
  'New South Wales',
  '2790',
  'Australia',
  'Australia',
  Timestamp('1943-01-13 00:00:00')],
 [3203,
  'Male',
  'Aidan Kane',
  'ARGENTON',
  'NSW',
  'New South Wales',
  '2284',
  'Australia',
  'Australia',
  Timestamp('1998-08-18 00:00:00')],
 [3270,
  'Male',
  'Hunter Templeton',
  'CENTRAL TILBA',
  'NSW',
  'New South Wales',
  '2546',
  'Australia',
  'Australia',
  Timestamp('1948-05-02 00:00:00')],
 [3327,
  'Female',
  'Alannah Le Messurier',
  'KONONGWOOTONG',
  'VIC',
  'Victoria',
  '3315',
  'Australia',
  'Australia',
  Timestamp('1948-04-28 00:00:00')],
 [3410,
  'Male',
  'Will Armitage',
  'BOLLON',
  'QLD',
  'Queensland',
  '4488',
  'Australia',
  'Australia',
  Timestamp('1950-05-12 00:00:00')],
 [3575,
  'Male',
  'Noah McFarland',
  'HOPPERS CROSSING',
  'VIC',
  'Victoria',
  '3029',
  'Australia',
  'Australia',
  Timestamp('1942-03-04 00:00:00')],
 [3964,
  'Female',
  'Rose Code',
  'DIXIE',
  'VIC',
  'Victoria',
  '3265',
  'Australia',
  'Australia',
  Timestamp('1944-02-16 00:00:00')],
 [4004,
  'Female',
  'Piper Wrixon',
  'WYALLA PLAZA',
  'QLD',
  'Queensland',
  '4350',
  'Australia',
  'Australia',
  Timestamp('1995-06-24 00:00:00')],
 [4174,
  'Female',
  'Rebecca Yelverton',
  'OCEAN REEF',
  'WA',
  'Western Australia',
  '6027',
  'Australia',
  'Australia',
  Timestamp('1990-10-05 00:00:00')],
 [4633,
  'Female',
  'Victoria Brown',
  'KEYSLAND',
  'QLD',
  'Queensland',
  '4612',
  'Australia',
  'Australia',
  Timestamp('1964-01-08 00:00:00')],
 [4734,
  'Male',
  'Justin Felan',
  'PARMELIA',
  'WA',
  'Western Australia',
  '6167',
  'Australia',
  'Australia',
  Timestamp('1946-02-13 00:00:00')],
 [4808,
  'Male',
  'Jamie Evenden',
  'HAYWARDS BAY',
  'NSW',
  'New South Wales',
  '2530',
  'Australia',
  'Australia',
  Timestamp('1944-06-28 00:00:00')],
 [4811,
  'Male',
  'Brayden Bulcock',
  'WIDGIEMOOLTHA',
  'WA',
  'Western Australia',
  '6443',
  'Australia',
  'Australia',
  Timestamp('1994-12-21 00:00:00')],
 [5097,
  'Female',
  'Bella Foley',
  'Mount Pleasant',
  'QLD',
  'Queensland',
  '4740',
  'Australia',
  'Australia',
  Timestamp('1942-11-13 00:00:00')],
 [5445,
  'Male',
  'Jake Clibborn',
  'REEFTON',
  'VIC',
  'Victoria',
  '3799',
  'Australia',
  'Australia',
  Timestamp('1952-09-10 00:00:00')],
 [5962,
  'Male',
  'Aiden Dugdale',
  'SWAN BAY',
  'NSW',
  'New South Wales',
  '2324',
  'Australia',
  'Australia',
  Timestamp('1938-11-17 00:00:00')],
 [6193,
  'Female',
  'Lara Cassidy',
  'REGENCY PARK',
  'SA',
  'South Australia',
  '5010',
  'Australia',
  'Australia',
  Timestamp('1945-12-27 00:00:00')],
 [6242,
  'Male',
  'Cody Grosse',
  'KOOMBERKINE',
  'WA',
  'Western Australia',
  '6461',
  'Australia',
  'Australia',
  Timestamp('1964-02-10 00:00:00')],
 [6258,
  'Male',
  'Zac Hull',
  'SANDFORD',
  'VIC',
  'Victoria',
  '3312',
  'Australia',
  'Australia',
  Timestamp('1976-07-03 00:00:00')],
 [6308,
  'Male',
  'Taj Sexton',
  'KOOREH',
  'VIC',
  'Victoria',
  '3478',
  'Australia',
  'Australia',
  Timestamp('2001-02-15 00:00:00')],
 [6459,
  'Male',
  'Mitchell Leigh',
  'KEILOR DOWNS',
  'VIC',
  'Victoria',
  '3038',
  'Australia',
  'Australia',
  Timestamp('1942-05-24 00:00:00')],
 [6794,
  'Female',
  'Abby Hyam',
  'CALDER',
  'TAS',
  'Tasmania',
  '7325',
  'Australia',
  'Australia',
  Timestamp('1971-02-06 00:00:00')],
 [7109,
  'Male',
  'Hamish Bolton',
  'LANKEYS CREEK',
  'NSW',
  'New South Wales',
  '2644',
  'Australia',
  'Australia',
  Timestamp('1979-11-15 00:00:00')],
 [7122,
  'Female',
  'Lara Virtue',
  'HIGGINSVILLE',
  'WA',
  'Western Australia',
  '6443',
  'Australia',
  'Australia',
  Timestamp('1999-08-13 00:00:00')],
 [7313,
  'Female',
  'Chelsea Keast',
  'KANMANTOO',
  'SA',
  'South Australia',
  '5252',
  'Australia',
  'Australia',
  Timestamp('1990-01-26 00:00:00')],
 [7398,
  'Male',
  'Jonathan Thorpe',
  'COOEE BAY',
  'QLD',
  'Queensland',
  '4703',
  'Australia',
  'Australia',
  Timestamp('1945-06-10 00:00:00')],
 [7493,
  'Male',
  'Declan Torrens',
  'NOORINDOO',
  'QLD',
  'Queensland',
  '4417',
  'Australia',
  'Australia',
  Timestamp('1978-07-20 00:00:00')],
 [7494,
  'Male',
  'Ben Coventry',
  'HYDE PARK',
  'QLD',
  'Queensland',
  '4812',
  'Australia',
  'Australia',
  Timestamp('1967-04-02 00:00:00')],
 [7566,
  'Male',
  'William Prenzel',
  'KILLARA',
  'VIC',
  'Victoria',
  '3691',
  'Australia',
  'Australia',
  Timestamp('1993-07-01 00:00:00')],
 [7664,
  'Male',
  'Riley Gaffney',
  'CANOWIE',
  'SA',
  'South Australia',
  '5419',
  'Australia',
  'Australia',
  Timestamp('1947-03-18 00:00:00')],
 [7700,
  'Male',
  'Lucas Keenan',
  'STANWELL TOPS',
  'NSW',
  'New South Wales',
  '2508',
  'Australia',
  'Australia',
  Timestamp('1975-01-27 00:00:00')],
 [7725,
  'Female',
  'Anna Prerauer',
  'CURRIMUNDI',
  'QLD',
  'Queensland',
  '4551',
  'Australia',
  'Australia',
  Timestamp('1968-01-06 00:00:00')],
 [7783,
  'Female',
  'Charli Gullett',
  'MOUNT WALLACE',
  'VIC',
  'Victoria',
  '3342',
  'Australia',
  'Australia',
  Timestamp('1961-08-13 00:00:00')],
 [8098,
  'Female',
  'Alana Belt',
  'SOUTH GREENOUGH',
  'WA',
  'Western Australia',
  '6528',
  'Australia',
  'Australia',
  Timestamp('1967-01-26 00:00:00')],
 [8181,
  'Female',
  'Amelie Nairn',
  'DARTMOUTH',
  'VIC',
  'Victoria',
  '3701',
  'Australia',
  'Australia',
  Timestamp('1985-07-08 00:00:00')],
 [8220,
  'Male',
  'David Blanch',
  'Vista',
  'SA',
  'South Australia',
  '5091',
  'Australia',
  'Australia',
  Timestamp('1945-07-29 00:00:00')],
 [8789,
  'Female',
  'Layla Mackellar',
  'KALKARINDJI',
  'NT',
  'Northern Territory',
  '852',
  'Australia',
  'Australia',
  Timestamp('1999-07-13 00:00:00')],
 [8794,
  'Female',
  'Abbey Lempriere',
  'BOULDER CREEK',
  'QLD',
  'Queensland',
  '4714',
  'Australia',
  'Australia',
  Timestamp('1962-11-02 00:00:00')],
 [8945,
  'Female',
  'Summer MacMahon',
  'WARUMBUL',
  'NSW',
  'New South Wales',
  '2229',
  'Australia',
  'Australia',
  Timestamp('1939-06-28 00:00:00')],
 [9167,
  'Male',
  'Luke Bushby',
  'PARACOMBE',
  'SA',
  'South Australia',
  '5132',
  'Australia',
  'Australia',
  Timestamp('1975-12-02 00:00:00')],
 [9184,
  'Male',
  'Sam Zimpel',
  'CORUNNUN',
  'VIC',
  'Victoria',
  '3249',
  'Australia',
  'Australia',
  Timestamp('1964-11-24 00:00:00')],
 [9360,
  'Male',
  'Mitchell Adam',
  'MOPARRABAH',
  'NSW',
  'New South Wales',
  '2440',
  'Australia',
  'Australia',
  Timestamp('1955-01-30 00:00:00')],
 [9370,
  'Female',
  'Ruby Lock',
  'Cook',
  'ACT',
  'Australian Capital Territory',
  '2614',
  'Australia',
  'Australia',
  Timestamp('1953-05-26 00:00:00')],
 [9389,
  'Female',
  'Eliza Brophy',
  'YEARINAN',
  'NSW',
  'New South Wales',
  '2357',
  'Australia',
  'Australia',
  Timestamp('1956-04-08 00:00:00')],
 [9456,
  'Male',
  'Ryder Abdullah',
  'CLAREDALE',
  'QLD',
  'Queensland',
  '4807',
  'Australia',
  'Australia',
  Timestamp('1941-05-21 00:00:00')],
 [9812,
  'Female',
  'Kaitlyn Morshead',
  'MINJARY',
  'NSW',
  'New South Wales',
  '2720',
  'Australia',
  'Australia',
  Timestamp('1953-01-23 00:00:00')],
 [9915,
  'Female',
  'Ebony Buxton',
  'SEPPINGS',
  'WA',
  'Western Australia',
  '6330',
  'Australia',
  'Australia',
  Timestamp('1991-11-10 00:00:00')],
 [10039,
  'Female',
  'Brianna Hann',
  'NIKENBAH',
  'QLD',
  'Queensland',
  '4655',
  'Australia',
  'Australia',
  Timestamp('1947-10-22 00:00:00')],
 [10189,
  'Female',
  'Alexis Birchell',
  'FOREST REEFS',
  'NSW',
  'New South Wales',
  '2798',
  'Australia',
  'Australia',
  Timestamp('1962-04-07 00:00:00')],
 [10276,
  'Male',
  'Angus Bardolph',
  'BATEAU BAY',
  'NSW',
  'New South Wales',
  '2261',
  'Australia',
  'Australia',
  Timestamp('1972-11-01 00:00:00')],
 [10299,
  'Male',
  'Anthony Macvitie',
  'BEELBANGERA',
  'NSW',
  'New South Wales',
  '2680',
  'Australia',
  'Australia',
  Timestamp('1937-05-27 00:00:00')],
 [10332,
  'Male',
  'James Burnage',
  'Palmyra',
  'WA',
  'Western Australia',
  '6157',
  'Australia',
  'Australia',
  Timestamp('1937-03-26 00:00:00')],
 [10393,
  'Male',
  'Nicholas Moncrieff',
  'ROSENTHAL HEIGHTS',
  'QLD',
  'Queensland',
  '4370',
  'Australia',
  'Australia',
  Timestamp('1981-11-29 00:00:00')],
 [10395,
  'Male',
  'Cameron Dillon',
  'STRATHERNE',
  'WA',
  'Western Australia',
  '6309',
  'Australia',
  'Australia',
  Timestamp('1996-02-25 00:00:00')],
 [10481,
  'Female',
  'Piper Maudsley',
  'CELLS RIVER',
  'NSW',
  'New South Wales',
  '2324',
  'Australia',
  'Australia',
  Timestamp('1977-04-17 00:00:00')],
 [10504,
  'Male',
  'Daniel Rusconi',
  'SOUTH DATATINE',
  'WA',
  'Western Australia',
  '6317',
  'Australia',
  'Australia',
  Timestamp('1980-10-22 00:00:00')],
 [10717,
  'Male',
  'Harrison Ingram',
  'MAYA',
  'WA',
  'Western Australia',
  '6614',
  'Australia',
  'Australia',
  Timestamp('1981-06-16 00:00:00')],
 [11035,
  'Female',
  'Makayla Meldrum',
  'KINGS FOREST',
  'NSW',
  'New South Wales',
  '2487',
  'Australia',
  'Australia',
  Timestamp('1939-12-08 00:00:00')],
 [11090,
  'Female',
  'Scarlett Scollen',
  'SILVERWATER',
  'NSW',
  'New South Wales',
  '2128',
  'Australia',
  'Australia',
  Timestamp('1953-01-20 00:00:00')],
 [11587,
  'Male',
  'Andrew Fenbury',
  'York',
  'WA',
  'Western Australia',
  '6302',
  'Australia',
  'Australia',
  Timestamp('1977-11-09 00:00:00')],
 [11736,
  'Female',
  'Summer Brownrigg',
  'YARRABILBA',
  'QLD',
  'Queensland',
  '4207',
  'Australia',
  'Australia',
  Timestamp('1991-01-22 00:00:00')],
 [12084,
  'Male',
  'Toby Chauvel',
  'GALGA',
  'SA',
  'South Australia',
  '5308',
  'Australia',
  'Australia',
  Timestamp('1958-07-20 00:00:00')],
 [12160,
  'Male',
  'Jett Creal',
  'Oakhurst',
  'NSW',
  'New South Wales',
  '2761',
  'Australia',
  'Australia',
  Timestamp('1956-09-05 00:00:00')],
 [12162,
  'Female',
  'Eva Lavarack',
  'WHITTINGTON',
  'VIC',
  'Victoria',
  '3219',
  'Australia',
  'Australia',
  Timestamp('1954-07-30 00:00:00')],
 [12207,
  'Male',
  'Aiden Jull',
  'OGMORE',
  'QLD',
  'Queensland',
  '4706',
  'Australia',
  'Australia',
  Timestamp('1955-11-30 00:00:00')],
 [12256,
  'Female',
  'Lilly Lynn',
  'ROTHBURY',
  'NSW',
  'New South Wales',
  '2320',
  'Australia',
  'Australia',
  Timestamp('1991-03-07 00:00:00')],
 [12365,
  'Female',
  'Natalie Lyon',
  'STEEPLE FLAT',
  'NSW',
  'New South Wales',
  '2631',
  'Australia',
  'Australia',
  Timestamp('1958-04-06 00:00:00')],
 [12385,
  'Female',
  'Lily Gribble',
  'OVERLAND CORNER',
  'SA',
  'South Australia',
  '5330',
  'Australia',
  'Australia',
  Timestamp('1981-06-10 00:00:00')],
 [12392,
  'Female',
  'Laura Waterhouse',
  'GREENHILL',
  'SA',
  'South Australia',
  '5140',
  'Australia',
  'Australia',
  Timestamp('1957-03-08 00:00:00')],
 [12649,
  'Female',
  'Rose Raven',
  'NOBLE PARK NORTH',
  'VIC',
  'Victoria',
  '3174',
  'Australia',
  'Australia',
  Timestamp('1965-12-11 00:00:00')],
 [12729,
  'Male',
  'Xavier Sturdee',
  'STANNUM',
  'NSW',
  'New South Wales',
  '2371',
  'Australia',
  'Australia',
  Timestamp('1937-10-14 00:00:00')],
 [12810,
  'Male',
  'Patrick Newbigin',
  'Deer Park',
  'VIC',
  'Victoria',
  '3023',
  'Australia',
  'Australia',
  Timestamp('1957-06-24 00:00:00')],
 [12859,
  'Male',
  'Koby Rayment',
  'NABAWA',
  'WA',
  'Western Australia',
  '6532',
  'Australia',
  'Australia',
  Timestamp('1942-04-29 00:00:00')],
 [12868,
  'Male',
  'Nathan Greville',
  'MALLALA',
  'SA',
  'South Australia',
  '5502',
  'Australia',
  'Australia',
  Timestamp('1961-03-12 00:00:00')],
 [13045,
  'Female',
  'Abbey Storkey',
  'BLUE MOUNTAIN HEIGHTS',
  'QLD',
  'Queensland',
  '4350',
  'Australia',
  'Australia',
  Timestamp('1957-10-19 00:00:00')],
 [13071,
  'Female',
  'Claudia Fuller',
  'CUBALLING',
  'WA',
  'Western Australia',
  '6311',
  'Australia',
  'Australia',
  Timestamp('1973-06-28 00:00:00')],
 [13232,
  'Female',
  'Maya Coates',
  'UNLEY BC',
  'SA',
  'South Australia',
  '5061',
  'Australia',
  'Australia',
  Timestamp('1985-08-12 00:00:00')],
 [13365,
  'Male',
  'Mitchell Cutlack',
  'MOONEM',
  'NSW',
  'New South Wales',
  '2471',
  'Australia',
  'Australia',
  Timestamp('1961-01-02 00:00:00')],
 [13607,
  'Female',
  'Gemma Maum',
  'MAMBRAY CREEK',
  'SA',
  'South Australia',
  '5495',
  'Australia',
  'Australia',
  Timestamp('1954-09-21 00:00:00')],
 [14069,
  'Male',
  'Jacob Gairdner',
  'ROB ROY',
  'NSW',
  'New South Wales',
  '2360',
  'Australia',
  'Australia',
  Timestamp('1949-05-24 00:00:00')],
 [14180,
  'Female',
  'Ava Lockyer',
  'KALGOORLIE',
  'WA',
  'Western Australia',
  '6430',
  'Australia',
  'Australia',
  Timestamp('1998-05-14 00:00:00')],
 [14275,
  'Female',
  'Dakota Dunshea',
  'BENTLEY',
  'NSW',
  'New South Wales',
  '2480',
  'Australia',
  'Australia',
  Timestamp('1979-05-02 00:00:00')],
 [14906,
  'Female',
  'Grace Houghton',
  'BOYER',
  'TAS',
  'Tasmania',
  '7140',
  'Australia',
  'Australia',
  Timestamp('1982-11-16 00:00:00')],
 [14962,
  'Female',
  'Mackenzie Newell',
  'Crestwood',
  'NSW',
  'New South Wales',
  '2153',
  'Australia',
  'Australia',
  Timestamp('1936-04-05 00:00:00')],
 [14988,
  'Female',
  'Emily Thirkell',
  'WYNDHAM VALE',
  'VIC',
  'Victoria',
  '3024',
  'Australia',
  'Australia',
  Timestamp('1958-07-24 00:00:00')],
 [15109,
  'Female',
  'Sara Marsden',
  'WHALE BEACH',
  'NSW',
  'New South Wales',
  '2107',
  'Australia',
  'Australia',
  Timestamp('1999-08-18 00:00:00')],
 [15385,
  'Male',
  'Harry Morgans',
  'DOONGIN',
  'WA',
  'Western Australia',
  '6409',
  'Australia',
  'Australia',
  Timestamp('1995-05-11 00:00:00')],
 [15391,
  'Female',
  'Elizabeth Horsley',
  'MARRAWEENEY',
  'VIC',
  'Victoria',
  '3669',
  'Australia',
  'Australia',
  Timestamp('1989-01-25 00:00:00')],
 [15569,
  'Female',
  'Chelsea Weekes',
  'COLAC',
  'VIC',
  'Victoria',
  '3250',
  'Australia',
  'Australia',
  Timestamp('1983-09-08 00:00:00')],
 [15718,
  'Female',
  'Natalie Tennant',
  'DAKENBA',
  'QLD',
  'Queensland',
  '4715',
  'Australia',
  'Australia',
  Timestamp('1957-02-20 00:00:00')],
 [16193,
  'Female',
  'Isabelle Beggs',
  'ALTONA',
  'SA',
  'South Australia',
  '5351',
  'Australia',
  'Australia',
  Timestamp('1964-05-10 00:00:00')],
 [16282,
  'Female',
  'Evie Kirkhope',
  'REIDS FLAT',
  'NSW',
  'New South Wales',
  '2586',
  'Australia',
  'Australia',
  Timestamp('2000-05-11 00:00:00')],
 [16716,
  'Female',
  'Abby Frater',
  'KAYUGA',
  'NSW',
  'New South Wales',
  '2333',
  'Australia',
  'Australia',
  Timestamp('1987-12-16 00:00:00')],
 [17412,
  'Male',
  'Mitchell Kwok',
  'VICTORIA PARK',
  'WA',
  'Western Australia',
  '6100',
  'Australia',
  'Australia',
  Timestamp('1969-08-31 00:00:00')],
 [17811,
  'Female',
  'Alicia Hoy',
  'WATTLE GLEN',
  'VIC',
  'Victoria',
  '3096',
  'Australia',
  'Australia',
  Timestamp('1985-10-15 00:00:00')],
 [18067,
  'Male',
  'Rory Koerstz',
  'MOUNT MCKENZIE',
  'SA',
  'South Australia',
  '5353',
  'Australia',
  'Australia',
  Timestamp('1941-10-26 00:00:00')],
 [18263,
  'Male',
  'Callum Semmens',
  'RURAL VIEW',
  'QLD',
  'Queensland',
  '4740',
  'Australia',
  'Australia',
  Timestamp('1978-06-01 00:00:00')],
 [18309,
  'Male',
  'Michael Vogt',
  'FYANS CREEK',
  'VIC',
  'Victoria',
  '3381',
  'Australia',
  'Australia',
  Timestamp('1992-01-07 00:00:00')],
 [18470,
  'Male',
  'Zac Pryor',
  'GOSFORD',
  'NSW',
  'New South Wales',
  '2250',
  'Australia',
  'Australia',
  Timestamp('1969-03-12 00:00:00')],
 [18493,
  'Male',

In [20]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.1.0-cp313-cp313-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp313-cp313-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 1.7 MB/s eta 0:00:09
   -- ------------------------------------- 1.0/16.1 MB 2.0 MB/s eta 0:00:08
   -- ------------------------------------- 1.0/16.1 MB 2.0 MB/s eta 0:00:08
   --- ------------------------------------ 1.6/16.1 MB 1.7 MB/s eta 0:00:09
   --- ------------------------------------ 1.6/16.1 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/16.1 MB 1.7 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/16.1 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 2.9/16.1 MB 1.8 MB/s eta 0:00:08
   ------- -------------------------------- 3.1/16.1 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/16.1 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.9/16.1 MB 1.7 MB/s eta 0:00:08
   ----------- ---------------------------- 4.5/16.1 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 5.0/16.1 MB 1.8 MB/s eta 0:00:07
   ------------- -------------------------- 5.5/16.1 MB 1.9 MB/s eta 0:00:06
   --------------- ------------------------ 6.0/16.1 MB 1.9 MB/s eta 0:00:06
   ---------------- ----------------------- 6.6/16.1 MB 1.9 MB/s eta 0:00:05
   ---------------- ----------------------- 6.8/16.1 MB 2.0 MB/s eta 0:00:05
   ------------------ --------------------- 7.3/16.1 MB 2.0 MB/s eta 0:00:05
   ------------------- -------------------- 7.9/16.1 MB 1.9 MB/s eta 0:00:05
   -------------------- ------------------- 8.1/16.1 MB 2.0 MB/s eta 0:00:05
   --------------------- ------------------ 8.7/16.1 MB 2.0 MB/s eta 0:00:04
   ---------------------- ----------------- 9.2/16.1 MB 2.0 MB/s eta 0:00:04
   ----------------------- ---------------- 9.4/16.1 MB 1.9 MB/s eta 0:00:04
   ------------------------ --------------- 9.7/16.1 MB 2.0 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.1 MB 1.9 MB/s eta 0:00:04
   -------------------------- ------------- 10.7/16.1 MB 2.0 MB/s eta 0:00:03
   --------------------------- ------------ 11.0/16.1 MB 2.0 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 2.0 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.1 MB 2.0 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 2.0 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 2.0 MB/s eta 0:00:02
   -------------------------------- ------- 13.1/16.1 MB 2.0 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.1 MB 2.0 MB/s eta 0:00:02
   ---------------------------------- ----- 13.9/16.1 MB 2.0 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.1 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/16.1 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 1.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [4]:
import mysql.connector

In [5]:
mydb = mysql.connector.connect(host="localhost",
                               username="root",
                               password="Barsilla9722!",
                               database="project1")
cursor = mydb.cursor()

In [15]:
create_query = '''create table if not exists Customers(CustomerKey int,
                                        Gender varchar(40),
                                        Name varchar(100),
                                        City varchar(40),
                                        State_Code varchar(40),
                                        State varchar(40),
                                        Zip_Code varchar(40),
                                        Country varchar(40),
                                        Continent varchar(40),
                                        Birthday date)'''
cursor.execute(create_query)
mydb.commit()

In [23]:
insert_query = '''insert into Customers(CustomerKey,
                                        Gender,
                                        Name,
                                        City,
                                        State_Code,
                                        State,
                                        Zip_Code,
                                        Country,
                                        Continent,
                                        Birthday)
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
cursor.executemany(insert_query, datas)
mydb.commit()

In [2]:
import pandas as pd

In [29]:
productsdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Products.csv", engine='python', encoding="ISO-8859-1")
productsdf.head(115)

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
110,111,WWI Wireless Transmitter and Bluetooth Headpho...,Wide World Importers,Black,$82.83,$249.99,106,Bluetooth Headphones,1,Audio
111,112,WWI Wireless Transmitter and Bluetooth Headpho...,Wide World Importers,Blue,$82.83,$249.99,106,Bluetooth Headphones,1,Audio
112,113,WWI Wireless Transmitter and Bluetooth Headpho...,Wide World Importers,White,$82.83,$249.99,106,Bluetooth Headphones,1,Audio
113,114,WWI Wireless Transmitter and Bluetooth Headpho...,Wide World Importers,Red,$82.83,$249.99,106,Bluetooth Headphones,1,Audio
114,115,WWI Wireless Transmitter and Bluetooth Headpho...,Wide World Importers,Silver,$82.83,$249.99,106,Bluetooth Headphones,1,Audio

In [4]:
productsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [8]:
productsdf.columns

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [18]:
productsdf.duplicated().sum()

np.int64(0)

In [25]:
product_create_query = '''create table if not exists Products(ProductKey int,
                                        Product_Name varchar(250),
                                        Brand varchar(40),
                                        Color varchar(20),
                                        Unit_Cost_USD varchar(15),
                                        Unit_Price_USD varchar(15),
                                        SubcategoryKey int,
                                        Subcategory varchar(40),
                                        CategoryKey int,
                                        Category varchar(40))'''
cursor.execute(product_create_query)
mydb.commit()

In [26]:
productdatas = productsdf.values.tolist()
productdatas

[[1,
  'Contoso 512MB MP3 Player E51 Silver',
  'Contoso',
  'Silver',
  '$6.62 ',
  '$12.99 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [2,
  'Contoso 512MB MP3 Player E51 Blue',
  'Contoso',
  'Blue',
  '$6.62 ',
  '$12.99 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [3,
  'Contoso 1G MP3 Player E100 White',
  'Contoso',
  'White',
  '$7.40 ',
  '$14.52 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [4,
  'Contoso 2G MP3 Player E200 Silver',
  'Contoso',
  'Silver',
  '$11.00 ',
  '$21.57 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [5,
  'Contoso 2G MP3 Player E200 Red',
  'Contoso',
  'Red',
  '$11.00 ',
  '$21.57 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [6,
  'Contoso 2G MP3 Player E200 Black',
  'Contoso',
  'Black',
  '$11.00 ',
  '$21.57 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [7,
  'Contoso 2G MP3 Player E200 Blue',
  'Contoso',
  'Blue',
  '$11.00 ',
  '$21.57 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [8,
  'Contoso 4G MP3 Player E400 Silver',
  'Contoso',
  'Silver',
  '$30.58 ',
  '$59.99 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [9,
  'Contoso 4G MP3 Player E400 Black',
  'Contoso',
  'Black',
  '$30.58 ',
  '$59.99 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [10,
  'Contoso 4G MP3 Player E400 Green',
  'Contoso',
  'Green',
  '$30.58 ',
  '$59.99 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [11,
  'Contoso 4G MP3 Player E400 Orange',
  'Contoso',
  'Orange',
  '$30.58 ',
  '$59.99 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [12,
  'Contoso 4GB Flash MP3 Player E401 Blue',
  'Contoso',
  'Blue',
  '$35.72 ',
  '$77.68 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [13,
  'Contoso 4GB Flash MP3 Player E401 Black',
  'Contoso',
  'Black',
  '$35.72 ',
  '$77.68 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [14,
  'Contoso 4GB Flash MP3 Player E401 Silver',
  'Contoso',
  'Silver',
  '$35.72 ',
  '$77.68 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [15,
  'Contoso 4GB Flash MP3 Player E401 White',
  'Contoso',
  'White',
  '$35.72 ',
  '$77.68 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [16,
  'Contoso 8GB Super-Slim MP3/Video Player M800 White',
  'Contoso',
  'White',
  '$50.56 ',
  '$109.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [17,
  'Contoso 8GB Super-Slim MP3/Video Player M800 Red',
  'Contoso',
  'Red',
  '$50.56 ',
  '$109.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [18,
  'Contoso 8GB Super-Slim MP3/Video Player M800 Green',
  'Contoso',
  'Green',
  '$50.56 ',
  '$109.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [19,
  'Contoso 8GB Super-Slim MP3/Video Player M800 Pink',
  'Contoso',
  'Pink',
  '$50.56 ',
  '$109.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [20,
  'Contoso 8GB MP3 Player new model M820 Black',
  'Contoso',
  'Black',
  '$61.62 ',
  '$134.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [21,
  'Contoso 8GB MP3 Player new model M820 Blue',
  'Contoso',
  'Blue',
  '$61.62 ',
  '$134.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [22,
  'Contoso 8GB MP3 Player new model M820 Yellow',
  'Contoso',
  'Yellow',
  '$61.62 ',
  '$134.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [23,
  'Contoso 8GB MP3 Player new model M820 White',
  'Contoso',
  'White',
  '$61.62 ',
  '$134.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [24,
  'Contoso 16GB Mp5 Player M1600 Blue',
  'Contoso',
  'Blue',
  '$91.93 ',
  '$199.90 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [25,
  'Contoso 16GB Mp5 Player M1600 Black',
  'Contoso',
  'Black',
  '$91.93 ',
  '$199.90 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [26,
  'Contoso 16GB Mp5 Player M1600 Green',
  'Contoso',
  'Green',
  '$91.93 ',
  '$199.90 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [27,
  'Contoso 16GB Mp5 Player M1600 White',
  'Contoso',
  'White',
  '$91.93 ',
  '$199.90 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [28,
  'Contoso 16GB Mp5 Player M1600 Red',
  'Contoso',
  'Red',
  '$91.93 ',
  '$199.90 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [29,
  'Contoso 32GB Video MP3 Player M3200 White',
  'Contoso',
  'White',
  '$84.49 ',
  '$255.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [30,
  'Contoso 32GB Video MP3 Player M3200 Red',
  'Contoso',
  'Red',
  '$84.49 ',
  '$255.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [31,
  'Contoso 32GB Video MP3 Player M3200 Orange',
  'Contoso',
  'Orange',
  '$84.49 ',
  '$255.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [32,
  'Contoso 32GB Video MP3 Player M3200 Pink',
  'Contoso',
  'Pink',
  '$84.49 ',
  '$255.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [33,
  'Contoso 32GB Video MP3 Player M3200 Black',
  'Contoso',
  'Black',
  '$84.49 ',
  '$255.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [34,
  'Contoso 4GB Portable MP3 Player M450 Black',
  'Contoso',
  'Black',
  '$48.92 ',
  '$95.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [35,
  'Contoso 4GB Portable MP3 Player M450 White',
  'Contoso',
  'White',
  '$48.92 ',
  '$95.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [36,
  'Contoso 4GB Portable MP3 Player M450 Yellow',
  'Contoso',
  'Yellow',
  '$48.92 ',
  '$95.95 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [37,
  'Contoso 8GB Clock & Radio MP3 Player X850 Silver',
  'Contoso',
  'Silver',
  '$99.14 ',
  '$299.23 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [38,
  'Contoso 8GB Clock & Radio MP3 Player X850 Black',
  'Contoso',
  'Black',
  '$99.14 ',
  '$299.23 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [39,
  'Contoso 8GB Clock & Radio MP3 Player X850 Green',
  'Contoso',
  'Green',
  '$99.14 ',
  '$299.23 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [40,
  'Contoso 8GB Clock & Radio MP3 Player X850 Blue',
  'Contoso',
  'Blue',
  '$99.14 ',
  '$299.23 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [41,
  'Contoso 16GB New Generation MP5 Player M1650 Silver',
  'Contoso',
  'Silver',
  '$106.69 ',
  '$232.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [42,
  'Contoso 16GB New Generation MP5 Player M1650 White',
  'Contoso',
  'White',
  '$106.69 ',
  '$232.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [43,
  'Contoso 16GB New Generation MP5 Player M1650 Black',
  'Contoso',
  'Black',
  '$106.69 ',
  '$232.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [44,
  'Contoso 16GB New Generation MP5 Player M1650 blue',
  'Contoso',
  'Blue',
  '$106.69 ',
  '$232.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [45,
  'Contoso 16GB New Generation MP5 Player M1650 Pink',
  'Contoso',
  'Pink',
  '$106.69 ',
  '$232.00 ',
  101,
  'MP4&MP3',
  1,
  'Audio'],
 [46,
  'WWI 1GB Pulse Smart pen E50 White',
  'Wide World Importers',
  'White',
  '$76.45 ',
  '$149.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [47,
  'WWI 1GBPulse Smart pen E50 Black',
  'Wide World Importers',
  'Black',
  '$76.45 ',
  '$149.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [48,
  'WWI 1GB Pulse Smart pen E50 Silver',
  'Wide World Importers',
  'Silver',
  '$76.45 ',
  '$149.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [49,
  'WWI 2GB Pulse Smart pen M100 White',
  'Wide World Importers',
  'White',
  '$91.95 ',
  '$199.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [50,
  'WWI 2GB Pulse Smart pen M100 Black',
  'Wide World Importers',
  'Black',
  '$91.95 ',
  '$199.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [51,
  'WWI 2GB Pulse Smart pen M100 Blue',
  'Wide World Importers',
  'Blue',
  '$91.95 ',
  '$199.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [52,
  'WWI 2GB Pulse Smart pen M100 Silver',
  'Wide World Importers',
  'Silver',
  '$91.95 ',
  '$199.95 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [53,
  'WWI 4GB Video Recording Pen X200 Black',
  'Wide World Importers',
  'Black',
  '$98.07 ',
  '$296.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [54,
  'WWI 4GB Video Recording Pen X200 Red',
  'Wide World Importers',
  'Red',
  '$98.07 ',
  '$296.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [55,
  'WWI 4GB Video Recording Pen X200 Pink',
  'Wide World Importers',
  'Pink',
  '$98.07 ',
  '$296.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [56,
  'WWI 4GB Video Recording Pen X200 Yellow',
  'Wide World Importers',
  'Yellow',
  '$98.07 ',
  '$296.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [57,
  'WWI 1GB Digital Voice Recorder Pen E100 Black',
  'Wide World Importers',
  'Black',
  '$79.53 ',
  '$156.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [58,
  'WWI 1GB Digital Voice Recorder Pen E100 Red',
  'Wide World Importers',
  'Red',
  '$79.53 ',
  '$156.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [59,
  'WWI 1GB Digital Voice Recorder Pen E100 Pink',
  'Wide World Importers',
  'Pink',
  '$79.53 ',
  '$156.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [60,
  'WWI 1GB Digital Voice Recorder Pen E100 White',
  'Wide World Importers',
  'White',
  '$79.53 ',
  '$156.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [61,
  'WWI 2GB Spy Video Recorder Pen M300 Black',
  'Wide World Importers',
  'Black',
  '$83.24 ',
  '$181.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [62,
  'WWI 2GB Spy Video Recorder Pen M300 White',
  'Wide World Importers',
  'White',
  '$83.24 ',
  '$181.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [63,
  'WWI 2GB Spy Video Recorder Pen M300 Blue',
  'Wide World Importers',
  'Blue',
  '$83.24 ',
  '$181.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [64,
  'WWI 2GB Spy Video Recorder Pen M300 Silver',
  'Wide World Importers',
  'Silver',
  '$83.24 ',
  '$181.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [65,
  'WWI 2GB Spy Video Recorder Pen M300 Purple',
  'Wide World Importers',
  'Purple',
  '$83.24 ',
  '$181.00 ',
  104,
  'Recording Pen',
  1,
  'Audio'],
 [66,
  'NT Bluetooth Stereo Headphones E52 Blue',
  'Northwind Traders',
  'Blue',
  '$13.10 ',
  '$25.69 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [67,
  'NT Bluetooth Stereo Headphones E52 Black',
  'Northwind Traders',
  'Black',
  '$13.10 ',
  '$25.69 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [68,
  'NT Bluetooth Stereo Headphones E52 Yellow',
  'Northwind Traders',
  'Yellow',
  '$13.10 ',
  '$25.69 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [69,
  'NT Bluetooth Stereo Headphones E52 Pink',
  'Northwind Traders',
  'Pink',
  '$13.10 ',
  '$25.69 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [70,
  'NT Wireless Bluetooth Stereo Headphones E102 Silver',
  'Northwind Traders',
  'Silver',
  '$22.05 ',
  '$47.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [71,
  'NT Wireless Bluetooth Stereo Headphones E102 Black',
  'Northwind Traders',
  'Black',
  '$22.05 ',
  '$47.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [72,
  'NT Wireless Bluetooth Stereo Headphones E102 Blue',
  'Northwind Traders',
  'Blue',
  '$22.05 ',
  '$47.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [73,
  'NT Wireless Bluetooth Stereo Headphones E102 White',
  'Northwind Traders',
  'White',
  '$22.05 ',
  '$47.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [74,
  'NT Bluetooth Active Headphones E202 Black',
  'Northwind Traders',
  'Black',
  '$17.45 ',
  '$37.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [75,
  'NT Bluetooth Active Headphones E202 White',
  'Northwind Traders',
  'White',
  '$17.45 ',
  '$37.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [76,
  'NT Bluetooth Active Headphones E202 Red',
  'Northwind Traders',
  'Red',
  '$17.45 ',
  '$37.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [77,
  'NT Bluetooth Active Headphones E202 Silver',
  'Northwind Traders',
  'Silver',
  '$17.45 ',
  '$37.95 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [78,
  'NT Wireless Bluetooth Stereo Headphones E302 Silver',
  'Northwind Traders',
  'Silver',
  '$18.65 ',
  '$40.55 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [79,
  'NT Wireless Bluetooth Stereo Headphones E302 White',
  'Northwind Traders',
  'White',
  '$18.65 ',
  '$40.55 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [80,
  'NT Wireless Bluetooth Stereo Headphones E302 Yellow',
  'Northwind Traders',
  'Yellow',
  '$18.65 ',
  '$40.55 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [81,
  'NT Wireless Bluetooth Stereo Headphones E302 Black',
  'Northwind Traders',
  'Black',
  '$18.65 ',
  '$40.55 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [82,
  'NT Wireless Bluetooth Stereo Headphones E302 Pink',
  'Northwind Traders',
  'Pink',
  '$18.65 ',
  '$40.55 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [83,
  'NT Wireless Bluetooth Stereo Headphones M402 Silver',
  'Northwind Traders',
  'Silver',
  '$45.98 ',
  '$99.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [84,
  'NT Wireless Bluetooth Stereo Headphones M402 Red',
  'Northwind Traders',
  'Red',
  '$45.98 ',
  '$99.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [85,
  'NT Wireless Bluetooth Stereo Headphones M402 Green',
  'Northwind Traders',
  'Green',
  '$45.98 ',
  '$99.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [86,
  'NT Wireless Bluetooth Stereo Headphones M402 Black',
  'Northwind Traders',
  'Black',
  '$45.98 ',
  '$99.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [87,
  'NT Wireless Bluetooth Stereo Headphones M402 Purple',
  'Northwind Traders',
  'Purple',
  '$45.98 ',
  '$99.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [88,
  'NT Wireless Transmitter and Bluetooth Headphones M150 Black',
  'Northwind Traders',
  'Black',
  '$49.69 ',
  '$149.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [89,
  'NT Wireless Transmitter and Bluetooth Headphones M150 Blue',
  'Northwind Traders',
  'Blue',
  '$49.69 ',
  '$149.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [90,
  'NT Wireless Transmitter and Bluetooth Headphones M150 Silver',
  'Northwind Traders',
  'Silver',
  '$49.69 ',
  '$149.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [91,
  'NT Wireless Transmitter and Bluetooth Headphones M150 Green',
  'Northwind Traders',
  'Green',
  '$49.69 ',
  '$149.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [92,
  'NT Wireless Transmitter and Bluetooth Headphones M150 Red',
  'Northwind Traders',
  'Red',
  '$49.69 ',
  '$149.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [93,
  'WWI Stereo Bluetooth Headphones E1000 Blue',
  'Wide World Importers',
  'Blue',
  '$34.36 ',
  '$67.40 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [94,
  'WWI Stereo Bluetooth Headphones E1000 Black',
  'Wide World Importers',
  'Black',
  '$34.36 ',
  '$67.40 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [95,
  'WWI Stereo Bluetooth Headphones E1000 Silver',
  'Wide World Importers',
  'Silver',
  '$34.36 ',
  '$67.40 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [96,
  'WWI Stereo Bluetooth Headphones E1000 White',
  'Wide World Importers',
  'White',
  '$34.36 ',
  '$67.40 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [97,
  'WWI Stereo Bluetooth Headphones E1000 Green',
  'Wide World Importers',
  'Green',
  '$34.36 ',
  '$67.40 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [98,
  'WWI Wireless Bluetooth Stereo Headphones M170 Silver',
  'Wide World Importers',
  'Silver',
  '$55.18 ',
  '$120.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [99,
  'WWI Wireless Bluetooth Stereo Headphones M170 Black',
  'Wide World Importers',
  'Black',
  '$55.18 ',
  '$120.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [100,
  'WWI Wireless Bluetooth Stereo Headphones M170 White',
  'Wide World Importers',
  'White',
  '$55.18 ',
  '$120.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [101,
  'WWI Wireless Bluetooth Stereo Headphones M170 Pink',
  'Wide World Importers',
  'Pink',
  '$55.18 ',
  '$120.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [102,
  'WWI Wireless Bluetooth Stereo Headphones M270 Silver',
  'Wide World Importers',
  'Silver',
  '$52.88 ',
  '$115.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [103,
  'WWI Wireless Bluetooth Stereo Headphones M270 Black',
  'Wide World Importers',
  'Black',
  '$52.88 ',
  '$115.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [104,
  'WWI Wireless Bluetooth Stereo Headphones M270 White',
  'Wide World Importers',
  'White',
  '$52.88 ',
  '$115.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [105,
  'WWI Wireless Bluetooth Stereo Headphones M270 Pink',
  'Wide World Importers',
  'Pink',
  '$52.88 ',
  '$115.00 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [106,
  'WWI Stereo Bluetooth Headphones New Generation M370 Black',
  'Wide World Importers',
  'Black',
  '$61.16 ',
  '$132.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [107,
  'WWI Stereo Bluetooth Headphones New Generation M370 White',
  'Wide World Importers',
  'White',
  '$61.16 ',
  '$132.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [108,
  'WWI Stereo Bluetooth Headphones New Generation M370 Yellow',
  'Wide World Importers',
  'Yellow',
  '$61.16 ',
  '$132.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [109,
  'WWI Stereo Bluetooth Headphones New Generation M370 Orange',
  'Wide World Importers',
  'Orange',
  '$61.16 ',
  '$132.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [110,
  'WWI Stereo Bluetooth Headphones New Generation M370 Blue',
  'Wide World Importers',
  'Blue',
  '$61.16 ',
  '$132.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [111,
  'WWI Wireless Transmitter and Bluetooth Headphones X250 Black',
  'Wide World Importers',
  'Black',
  '$82.83 ',
  '$249.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [112,
  'WWI Wireless Transmitter and Bluetooth Headphones X250 Blue',
  'Wide World Importers',
  'Blue',
  '$82.83 ',
  '$249.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [113,
  'WWI Wireless Transmitter and Bluetooth Headphones X250 White',
  'Wide World Importers',
  'White',
  '$82.83 ',
  '$249.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [114,
  'WWI Wireless Transmitter and Bluetooth Headphones X250 Red',
  'Wide World Importers',
  'Red',
  '$82.83 ',
  '$249.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [115,
  'WWI Wireless Transmitter and Bluetooth Headphones X250 Silver',
  'Wide World Importers',
  'Silver',
  '$82.83 ',
  '$249.99 ',
  106,
  'Bluetooth Headphones',
  1,
  'Audio'],
 [116,
  'Adventure Works 20" CRT TV E15 Silver',
  'Adventure Works',
  'Silver',
  '$86.67 ',
  '$169.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [117,
  'Adventure Works 20" CRT TV E15 Black',
  'Adventure Works',
  'Black',
  '$86.67 ',
  '$169.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [118,
  'Adventure Works 20" CRT TV E15 White',
  'Adventure Works',
  'White',
  '$86.67 ',
  '$169.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [119,
  'Adventure Works 13" Color TV E25 Silver',
  'Adventure Works',
  'Silver',
  '$61.17 ',
  '$119.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [120,
  'Adventure Works 13" Color TV E25 Black',
  'Adventure Works',
  'Black',
  '$61.17 ',
  '$119.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [121,
  'Adventure Works 13" Color TV E25 White',
  'Adventure Works',
  'White',
  '$61.17 ',
  '$119.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [122,
  'Adventure Works 19" Portable LCD HDTV M110 Silver',
  'Adventure Works',
  'Silver',
  '$128.76 ',
  '$279.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [123,
  'Adventure Works 19" Portable LCD HDTV M110 Black',
  'Adventure Works',
  'Black',
  '$128.76 ',
  '$279.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [124,
  'Adventure Works 19" Portable LCD HDTV M110 White',
  'Adventure Works',
  'White',
  '$128.76 ',
  '$279.99 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [125,
  'Adventure Works 19" Color Digital TV E35 Silver',
  'Adventure Works',
  'Silver',
  '$73.11 ',
  '$143.40 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [126,
  'Adventure Works 19" Color Digital TV E35 Black',
  'Adventure Works',
  'Black',
  '$73.11 ',
  '$143.40 ',
  201,
  'Televisions',
  2,
  'TV and Video'],
 [127,

In [27]:
product_insert_query = '''insert into Products(ProductKey,
                                        Product_Name,
                                        Brand,
                                        Color,
                                        Unit_Cost_USD,
                                        Unit_Price_USD,
                                        SubcategoryKey,
                                        Subcategory,
                                        CategoryKey,
                                        Category)
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
cursor.executemany(product_insert_query, productdatas)
mydb.commit()

In [30]:
salesdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Sales.csv", engine='python', encoding="ISO-8859-1")
salesdf.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD
5,366002,3,1/1/2016,1/12/2016,266019,0,1080,4,CAD
6,366004,1,1/1/2016,NaN,1107461,38,163,6,GBP
7,366004,2,1/1/2016,NaN,1107461,38,1529,2,GBP
8,366005,1,1/1/2016,NaN,844003,33,421,4,EUR
9,366007,1,1/1/2016,NaN,2035771,43,1617,1,USD
10,366007,2,1/1/2016,NaN,2035771,43,666,5,USD
11,366008,1,1/1/2016,NaN,759705,29,1154,9,EUR
12,366008,2,1/1/2016,NaN,759705,29,2510,1,EUR
13,366008,3,1/1/2016,NaN,759705,29,1060,5,EUR
14,366009,1,1/1/2016,NaN,254540,9,1648,1,CAD
15,366010,1,1/1/2016,1/8/2016,370077,0,618,5,CAD
16,366011,1,1/1/2016,NaN,1984985,66,128,7,USD
17,366011,2,1/1/2016,NaN,1984985,66,1638,1,USD
18,366011,3,1/1/2016,NaN,1984985,66,1634,1,USD
19,366011,4,1/1/2016,NaN,1984985,66,2392,3,USD

In [44]:
salesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

In [48]:
#salesdf['Delivery Date'].fillna("", inplace=True)
salesdf.fillna("",inplace=True)

In [37]:
salesdf['Delivery Date'] = pd.to_datetime(salesdf['Delivery Date'])
salesdf['Order Date'] = pd.to_datetime(salesdf['Order Date'])
salesdf['Delivery Date'].dtype

dtype('<M8[ns]')

In [32]:
salesdf.duplicated().sum()

np.int64(0)

In [52]:
salesdatas = salesdf.values.tolist()
salesdatas

[[366000,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  265598,
  10,
  1304,
  1,
  'CAD'],
 [366001,
  1,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-13 00:00:00'),
  1269051,
  0,
  1048,
  2,
  'USD'],
 [366001,
  2,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-13 00:00:00'),
  1269051,
  0,
  2007,
  1,
  'USD'],
 [366002,
  1,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-12 00:00:00'),
  266019,
  0,
  1106,
  7,
  'CAD'],
 [366002,
  2,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-12 00:00:00'),
  266019,
  0,
  373,
  1,
  'CAD'],
 [366002,
  3,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-12 00:00:00'),
  266019,
  0,
  1080,
  4,
  'CAD'],
 [366004,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1107461,
  38,
  163,
  6,
  'GBP'],
 [366004,
  2,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1107461,
  38,
  1529,
  2,
  'GBP'],
 [366005, 1, Timestamp('2016-01-01 00:00:00'), NaT, 844003, 33, 421, 4, 'EUR'],
 [366007,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  2035771,
  43,
  1617,
  1,
  'USD'],
 [366007,
  2,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  2035771,
  43,
  666,
  5,
  'USD'],
 [366008,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  759705,
  29,
  1154,
  9,
  'EUR'],
 [366008,
  2,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  759705,
  29,
  2510,
  1,
  'EUR'],
 [366008,
  3,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  759705,
  29,
  1060,
  5,
  'EUR'],
 [366009, 1, Timestamp('2016-01-01 00:00:00'), NaT, 254540, 9, 1648, 1, 'CAD'],
 [366010,
  1,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-08 00:00:00'),
  370077,
  0,
  618,
  5,
  'CAD'],
 [366011,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1984985,
  66,
  128,
  7,
  'USD'],
 [366011,
  2,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1984985,
  66,
  1638,
  1,
  'USD'],
 [366011,
  3,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1984985,
  66,
  1634,
  1,
  'USD'],
 [366011,
  4,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1984985,
  66,
  2392,
  3,
  'USD'],
 [366012,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1977527,
  65,
  1807,
  1,
  'USD'],
 [366012,
  2,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1977527,
  65,
  1594,
  4,
  'USD'],
 [366012,
  3,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1977527,
  65,
  1297,
  1,
  'USD'],
 [366013,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1187306,
  41,
  1654,
  5,
  'GBP'],
 [366014,
  1,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-06 00:00:00'),
  738549,
  0,
  123,
  1,
  'EUR'],
 [366014,
  2,
  Timestamp('2016-01-01 00:00:00'),
  Timestamp('2016-01-06 00:00:00'),
  738549,
  0,
  1700,
  2,
  'EUR'],
 [366016,
  1,
  Timestamp('2016-01-01 00:00:00'),
  NaT,
  1982762,
  63,
  1253,
  7,
  'USD'],
 [367000,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1438050,
  56,
  1176,
  1,
  'USD'],
 [367003, 1, Timestamp('2016-01-02 00:00:00'), NaT, 980164, 40, 153, 2, 'GBP'],
 [367004,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1853699,
  56,
  136,
  1,
  'USD'],
 [367004,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1853699,
  56,
  1637,
  4,
  'USD'],
 [367005,
  1,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  1691,
  1,
  'EUR'],
 [367005,
  2,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  319,
  2,
  'EUR'],
 [367005,
  3,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  1674,
  8,
  'EUR'],
 [367005,
  4,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  2511,
  9,
  'EUR'],
 [367005,
  5,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  1720,
  2,
  'EUR'],
 [367005,
  6,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  1597,
  7,
  'EUR'],
 [367005,
  7,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-10 00:00:00'),
  758280,
  0,
  784,
  1,
  'EUR'],
 [367006,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  693285,
  18,
  2445,
  3,
  'EUR'],
 [367007, 1, Timestamp('2016-01-02 00:00:00'), NaT, 1730985, 57, 65, 7, 'USD'],
 [367007,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1730985,
  57,
  1432,
  9,
  'USD'],
 [367008,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  763246,
  28,
  1951,
  3,
  'EUR'],
 [367009,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1512558,
  57,
  934,
  1,
  'USD'],
 [367009,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1512558,
  57,
  930,
  8,
  'USD'],
 [367009,
  3,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1512558,
  57,
  1436,
  5,
  'USD'],
 [367009,
  4,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1512558,
  57,
  1547,
  3,
  'USD'],
 [367009, 5, Timestamp('2016-01-02 00:00:00'), NaT, 1512558, 57, 53, 5, 'USD'],
 [367010,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1322959,
  66,
  917,
  1,
  'USD'],
 [367010, 2, Timestamp('2016-01-02 00:00:00'), NaT, 1322959, 66, 39, 1, 'USD'],
 [367011, 1, Timestamp('2016-01-02 00:00:00'), NaT, 507981, 22, 39, 1, 'EUR'],
 [367012, 1, Timestamp('2016-01-02 00:00:00'), NaT, 209990, 9, 1653, 5, 'CAD'],
 [367012, 2, Timestamp('2016-01-02 00:00:00'), NaT, 209990, 9, 145, 3, 'CAD'],
 [367013,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  815458,
  31,
  1733,
  2,
  'EUR'],
 [367013, 2, Timestamp('2016-01-02 00:00:00'), NaT, 815458, 31, 41, 6, 'EUR'],
 [367014,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1839627,
  56,
  1184,
  3,
  'USD'],
 [367015,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  911025,
  42,
  2296,
  7,
  'GBP'],
 [367016,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1633409,
  63,
  1487,
  1,
  'USD'],
 [367016,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1633409,
  63,
  558,
  7,
  'USD'],
 [367016,
  3,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1633409,
  63,
  206,
  3,
  'USD'],
 [367017,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1612400,
  47,
  1203,
  4,
  'USD'],
 [367018,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1301565,
  59,
  1245,
  2,
  'USD'],
 [367018,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1301565,
  59,
  1973,
  4,
  'USD'],
 [367018,
  3,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1301565,
  59,
  731,
  4,
  'USD'],
 [367019,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  793573,
  29,
  1947,
  2,
  'EUR'],
 [367019,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  793573,
  29,
  1645,
  7,
  'EUR'],
 [367019, 3, Timestamp('2016-01-02 00:00:00'), NaT, 793573, 29, 371, 7, 'EUR'],
 [367020, 1, Timestamp('2016-01-02 00:00:00'), NaT, 799366, 29, 448, 6, 'EUR'],
 [367020,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  799366,
  29,
  1975,
  1,
  'EUR'],
 [367021,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  243917,
  10,
  1445,
  4,
  'CAD'],
 [367021,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  243917,
  10,
  1624,
  6,
  'CAD'],
 [367021,
  3,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  243917,
  10,
  1615,
  2,
  'CAD'],
 [367022,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  942807,
  42,
  1596,
  1,
  'GBP'],
 [367022,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  942807,
  42,
  1253,
  7,
  'GBP'],
 [367022, 3, Timestamp('2016-01-02 00:00:00'), NaT, 942807, 42, 663, 3, 'GBP'],
 [367022,
  4,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  942807,
  42,
  1194,
  6,
  'GBP'],
 [367023, 1, Timestamp('2016-01-02 00:00:00'), NaT, 129318, 2, 1139, 5, 'AUD'],
 [367023, 2, Timestamp('2016-01-02 00:00:00'), NaT, 129318, 2, 1031, 2, 'AUD'],
 [367024,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1713253,
  50,
  302,
  8,
  'USD'],
 [367024,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1713253,
  50,
  2105,
  5,
  'USD'],
 [367025,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1736623,
  56,
  1608,
  1,
  'USD'],
 [367025,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1736623,
  56,
  1641,
  2,
  'USD'],
 [367025,
  3,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1736623,
  56,
  1574,
  3,
  'USD'],
 [367026,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1836599,
  53,
  2218,
  2,
  'USD'],
 [367026, 2, Timestamp('2016-01-02 00:00:00'), NaT, 1836599, 53, 78, 1, 'USD'],
 [367027,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1482586,
  53,
  2451,
  3,
  'USD'],
 [367027,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1482586,
  53,
  1645,
  1,
  'USD'],
 [367027,
  3,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1482586,
  53,
  1728,
  2,
  'USD'],
 [367028,
  1,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-11 00:00:00'),
  607356,
  0,
  976,
  1,
  'EUR'],
 [367028,
  2,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-11 00:00:00'),
  607356,
  0,
  2017,
  3,
  'EUR'],
 [367029,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1260533,
  66,
  1607,
  1,
  'USD'],
 [367029,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1260533,
  66,
  1223,
  7,
  'USD'],
 [367030,
  1,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1843882,
  51,
  2010,
  7,
  'USD'],
 [367030,
  2,
  Timestamp('2016-01-02 00:00:00'),
  NaT,
  1843882,
  51,
  426,
  1,
  'USD'],
 [367031,
  1,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-07 00:00:00'),
  909014,
  0,
  120,
  3,
  'GBP'],
 [367031,
  2,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-07 00:00:00'),
  909014,
  0,
  382,
  2,
  'GBP'],
 [367031,
  3,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-07 00:00:00'),
  909014,
  0,
  1722,
  3,
  'GBP'],
 [367031,
  4,
  Timestamp('2016-01-02 00:00:00'),
  Timestamp('2016-01-07 00:00:00'),
  909014,
  0,
  132,
  1,
  'GBP'],
 [368000,
  1,
  Timestamp('2016-01-03 00:00:00'),
  NaT,
  892838,
  32,
  1440,
  1,
  'EUR'],
 [368001,
  1,
  Timestamp('2016-01-03 00:00:00'),
  NaT,
  1670789,
  64,
  1598,
  3,
  'USD'],
 [369000,
  1,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  1143828,
  37,
  2167,
  9,
  'GBP'],
 [369000,
  2,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  1143828,
  37,
  167,
  1,
  'GBP'],
 [369001, 1, Timestamp('2016-01-04 00:00:00'), NaT, 269337, 8, 1301, 1, 'CAD'],
 [369001, 2, Timestamp('2016-01-04 00:00:00'), NaT, 269337, 8, 1649, 4, 'CAD'],
 [369002, 1, Timestamp('2016-01-04 00:00:00'), NaT, 258316, 8, 1656, 1, 'CAD'],
 [369004,
  1,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  1389462,
  65,
  1961,
  5,
  'USD'],
 [369004,
  2,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  1389462,
  65,
  1991,
  3,
  'USD'],
 [369005,
  1,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  1866637,
  56,
  183,
  3,
  'USD'],
 [369006, 1, Timestamp('2016-01-04 00:00:00'), NaT, 734605, 28, 654, 1, 'EUR'],
 [369007,
  1,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  571622,
  20,
  2510,
  3,
  'EUR'],
 [369007,
  2,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  571622,
  20,
  2103,
  1,
  'EUR'],
 [369007,
  3,
  Timestamp('2016-01-04 00:00:00'),
  NaT,
  571622,
  20,
  1578,
  3,
  'EUR'],
 [369011,
  1,
  Timestamp('2016-01-04 00:00:00'),
  Timestamp('2016-01-09 00:00:00'),
  1664824,
  0,
  1261,
  2,
  'USD'],
 [369012,
  1,
  Timestamp('2016-01-04 00:00:00'),
  Timestamp('2016-01-13 00:00:00'),
  1696695,
  0,
  1423,
  3,
  'USD'],
 [369012,
  2,
  Timestamp('2016-01-04 00:00:00'),
  Timestamp('2016-01-13 00:00:00'),
  1696695,
  0,
  1656,
  1,
  'USD'],
 [369012,
  3,
  Timestamp('2016-01-04 00:00:00'),
  Timestamp('2016-01-13 00:00:00'),
  1696695,
  0,
  1660,
  2,
  'USD'],
 [369012,
  4,
  Timestamp('2016-01-04 00:00:00'),
  Timestamp('2016-01-13 00:00:00'),
  1696695,
  0,
  1610,
  6,
  'USD'],
 [370000,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  2032025,
  51,
  1360,
  4,
  'USD'],
 [370000,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  2032025,
  51,
  1158,
  4,
  'USD'],
 [370000,
  3,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  2032025,
  51,
  457,
  2,
  'USD'],
 [370001,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1884908,
  61,
  1107,
  3,
  'USD'],
 [370001,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1884908,
  61,
  1591,
  3,
  'USD'],
 [370001,
  3,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1884908,
  61,
  1544,
  7,
  'USD'],
 [370003,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  2092033,
  66,
  836,
  8,
  'USD'],
 [370003,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  2092033,
  66,
  1529,
  3,
  'USD'],
 [370004,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1473090,
  43,
  1251,
  2,
  'USD'],
 [370005,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  584095,
  24,
  1610,
  2,
  'EUR'],
 [370005,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  584095,
  24,
  1594,
  4,
  'EUR'],
 [370006,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  661636,
  16,
  1272,
  6,
  'EUR'],
 [370007, 1, Timestamp('2016-01-05 00:00:00'), NaT, 623659, 15, 267, 1, 'EUR'],
 [370007, 2, Timestamp('2016-01-05 00:00:00'), NaT, 623659, 15, 126, 7, 'EUR'],
 [370008, 1, Timestamp('2016-01-05 00:00:00'), NaT, 183264, 4, 2105, 1, 'AUD'],
 [370010,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1393738,
  48,
  1709,
  3,
  'USD'],
 [370010,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1393738,
  48,
  2113,
  10,
  'USD'],
 [370010,
  3,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1393738,
  48,
  2088,
  2,
  'USD'],
 [370011, 1, Timestamp('2016-01-05 00:00:00'), NaT, 1522590, 47, 32, 2, 'USD'],
 [370012,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1780669,
  53,
  1585,
  3,
  'USD'],
 [370012,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1780669,
  53,
  1689,
  2,
  'USD'],
 [370013, 1, Timestamp('2016-01-05 00:00:00'), NaT, 5097, 6, 5, 2, 'AUD'],
 [370014,
  1,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1475886,
  51,
  1622,
  2,
  'USD'],
 [370014,
  2,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1475886,
  51,
  2110,
  1,
  'USD'],
 [370014,
  3,
  Timestamp('2016-01-05 00:00:00'),
  NaT,
  1475886,
  51,
  1694,
  2,
  'USD'],
 [371000, 1, Timestamp('2016-01-06 00:00:00'), NaT, 728834, 30, 81, 2, 'EUR'],
 [371001, 1, Timestamp('2016-01-06 00:00:00'), NaT, 76021, 2, 77, 3, 'AUD'],
 [371001, 2, Timestamp('2016-01-06 00:00:00'), NaT, 76021, 2, 945, 2, 'AUD'],
 [371001, 3, Timestamp('2016-01-06 00:00:00'), NaT, 76021, 2, 1033, 1, 'AUD'],
 [371001, 4, Timestamp('2016-01-06 00:00:00'), NaT, 76021, 2, 1581, 5, 'AUD'],
 [371002, 1, Timestamp('2016-01-06 00:00:00'), NaT, 1955971, 53, 80, 4, 'USD'],
 [371002,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1955971,
  53,
  2171,
  3,
  'USD'],
 [371003,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  778259,
  28,
  1074,
  6,
  'EUR'],
 [371003, 2, Timestamp('2016-01-06 00:00:00'), NaT, 778259, 28, 127, 2, 'EUR'],
 [371003, 3, Timestamp('2016-01-06 00:00:00'), NaT, 778259, 28, 333, 5, 'EUR'],
 [371003,
  4,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  778259,
  28,
  1627,
  4,
  'EUR'],
 [371003, 5, Timestamp('2016-01-06 00:00:00'), NaT, 778259, 28, 64, 1, 'EUR'],
 [371003,
  6,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  778259,
  28,
  1997,
  3,
  'EUR'],
 [371004,
  1,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  1378439,
  0,
  1305,
  8,
  'USD'],
 [371005, 1, Timestamp('2016-01-06 00:00:00'), NaT, 1923558, 48, 58, 1, 'USD'],
 [371005, 2, Timestamp('2016-01-06 00:00:00'), NaT, 1923558, 48, 32, 7, 'USD'],
 [371006,
  1,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-15 00:00:00'),
  1501383,
  0,
  1279,
  1,
  'USD'],
 [371007,
  1,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-18 00:00:00'),
  1378439,
  0,
  1639,
  1,
  'USD'],
 [371008,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  2053617,
  50,
  961,
  1,
  'USD'],
 [371008,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  2053617,
  50,
  1626,
  7,
  'USD'],
 [371010,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1716584,
  53,
  2491,
  5,
  'USD'],
 [371010,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1716584,
  53,
  1631,
  7,
  'USD'],
 [371011,
  1,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  776266,
  0,
  458,
  5,
  'EUR'],
 [371011,
  2,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  776266,
  0,
  1573,
  3,
  'EUR'],
 [371011,
  3,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  776266,
  0,
  32,
  5,
  'EUR'],
 [371012, 1, Timestamp('2016-01-06 00:00:00'), NaT, 363872, 8, 147, 1, 'CAD'],
 [371012, 2, Timestamp('2016-01-06 00:00:00'), NaT, 363872, 8, 1576, 1, 'CAD'],
 [371012, 3, Timestamp('2016-01-06 00:00:00'), NaT, 363872, 8, 1642, 3, 'CAD'],
 [371014, 1, Timestamp('2016-01-06 00:00:00'), NaT, 1161615, 40, 89, 4, 'GBP'],
 [371014,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1161615,
  40,
  337,
  3,
  'GBP'],
 [371015,
  1,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  1669745,
  0,
  1679,
  5,
  'USD'],
 [371015,
  2,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  1669745,
  0,
  1659,
  1,
  'USD'],
 [371015,
  3,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  1669745,
  0,
  1228,
  1,
  'USD'],
 [371015,
  4,
  Timestamp('2016-01-06 00:00:00'),
  Timestamp('2016-01-14 00:00:00'),
  1669745,
  0,
  1458,
  4,
  'USD'],
 [371016,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  879778,
  32,
  1704,
  2,
  'EUR'],
 [371017,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1918687,
  61,
  2084,
  5,
  'USD'],
 [371017,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1918687,
  61,
  2365,
  1,
  'USD'],
 [371018,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  534,
  1,
  'GBP'],
 [371018,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  1667,
  7,
  'GBP'],
 [371018,
  3,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  1212,
  7,
  'GBP'],
 [371018,
  4,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  2496,
  1,
  'GBP'],
 [371018,
  5,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  1200,
  2,
  'GBP'],
 [371018,
  6,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  1333,
  2,
  'GBP'],
 [371018,
  7,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  1041466,
  36,
  2124,
  1,
  'GBP'],
 [371019,
  1,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  916074,
  41,
  2506,
  2,
  'GBP'],
 [371019,
  2,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  916074,
  41,
  1590,
  1,
  'GBP'],
 [371019,
  3,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  916074,
  41,
  1615,
  2,
  'GBP'],
 [371019,
  4,
  Timestamp('2016-01-06 00:00:00'),
  NaT,
  916074,
  41,
  2093,
  2,
  'GBP'],
 [372000,
  1,
  Timestamp('2016-01-07 00:00:00'),
  Timestamp('2016-01-22 00:00:00'),
  1413890,
  0,
  148,
  3,
  'USD'],
 [372000,
  2,
  Timestamp('2016-01-07 00:00:00'),
  Timestamp('2016-01-22 00:00:00'),
  1413890,
  0,
  1620,
  1,
  'USD'],
 [372000,
  3,
  Timestamp('2016-01-07 00:00:00'),
  Timestamp('2016-01-22 00:00:00'),
  1413890,
  0,
  825,
  3,
  'USD'],
 [372001,
  1,
  Timestamp('2016-01-07 00:00:00'),
  NaT,
  1412534,
  63,
  1286,
  1,
  'USD'],
 [372001,
  2,
  Timestamp('2016-01-07 00:00:00'),
  NaT,
  1412534,
  63,
  1669,
  3,
  'USD'],
 [372002,
  1,
  Timestamp('2016-01-07 00:00:00'),
  NaT,
  1718240,
  47,
  1299,
  7,
  'USD'],
 [372003,
  1,
  Timestamp('2016-01-07 00:00:00'),
  NaT,
  527409,
  19,
  1604,
  3,
  'EUR'],
 [372003, 2, Timestamp('2016-01-07 00:00:00'), NaT, 527409, 19, 141, 4, 'EUR'],
 [372003, 3, Timestamp('2016-01-07 00:00:00'), NaT, 527409, 19, 83, 2, 'EUR'],
 [372004, 1, Timestamp('2016-01-07 00:00:00'), NaT, 711449, 30, 922, 9, 'EUR'],
 [372005, 1, Timestamp('2016-01-07 00:00:00'), NaT, 302130, 9, 411, 3, 'CAD'],
 [372005, 2, Timestamp('2016-01-07 00:00:00'), NaT, 302130, 9, 75, 4, 'CAD'],
 [372005, 3, Timestamp('2016-01-07 00:00:00'), NaT, 302130, 9, 1620, 3, 'CAD'],

In [50]:
sales_create_query = '''create table if not exists Sales(Order_Number int,
                                        Line_Item int,
                                        Order_Date date,
                                        Delivery_Date date,
                                        CustomerKey int,
                                        StoreKey int,
                                        ProductKey int,
                                        Quantity int,
                                        Currency_Code varchar(40))'''
cursor.execute(sales_create_query)
mydb.commit()

In [54]:
sales_insert_query = '''insert into Sales(Order_Number,
                                        Line_Item,
                                        Order_Date,
                                        Delivery_Date,
                                        CustomerKey,
                                        StoreKey,
                                        ProductKey,
                                        Quantity,
                                        Currency_Code)
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
cursor.executemany(sales_insert_query, salesdatas)
mydb.commit()

In [55]:
storesdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Stores.csv", engine='python', encoding="ISO-8859-1")
storesdf.head(20)

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
5,6,Australia,Western Australia,2000.0,1/1/2010
6,7,Canada,New Brunswick,1105.0,5/7/2007
7,8,Canada,Newfoundland and Labrador,2105.0,7/2/2014
8,9,Canada,Northwest Territories,1500.0,3/4/2005
9,10,Canada,Nunavut,1210.0,4/4/2015
10,11,Canada,Yukon,1210.0,6/3/2009
11,12,France,Basse-Normandie,350.0,6/6/2012
12,13,France,Corse,245.0,6/7/2013
13,14,France,Franche-ComtÃ©,350.0,12/15/2009
14,15,France,La RÃ©union,400.0,1/1/2015
15,16,France,Limousin,385.0,6/3/2010
16,17,France,Martinique,350.0,7/8/2007
17,18,France,Mayotte,310.0,8/8/2012
18,19,Germany,Berlin,1295.0,4/4/2015
19,20,Germany,Brandenburg,1715.0,12/15/2012

In [64]:
storesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

In [57]:
storesdf.fillna("",inplace=True)

C:\Users\barsilla\AppData\Local\Temp\ipykernel_9756\2993297083.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  storesdf.fillna("",inplace=True)

In [58]:
storesdf['Open Date'] = pd.to_datetime(storesdf['Open Date'])

In [63]:
storesdf['Square Meters'] = pd.to_numeric(storesdf['Square Meters'], errors='coerce')
storesdf['Square Meters'] = storesdf['Square Meters'].fillna(0.0)
storesdf['Square Meters'] = storesdf['Square Meters'].astype(float)

In [59]:
storesdf.columns

Index(['StoreKey', 'Country', 'State', 'Square Meters', 'Open Date'], dtype='object')

In [60]:
storesdf.duplicated().sum()

np.int64(0)

In [66]:
storesdatas = storesdf.values.tolist()
storesdatas

[[1,
  'Australia',
  'Australian Capital Territory',
  595.0,
  Timestamp('2008-01-01 00:00:00')],
 [2,
  'Australia',
  'Northern Territory',
  665.0,
  Timestamp('2008-01-12 00:00:00')],
 [3, 'Australia', 'South Australia', 2000.0, Timestamp('2012-01-07 00:00:00')],
 [4, 'Australia', 'Tasmania', 2000.0, Timestamp('2010-01-01 00:00:00')],
 [5, 'Australia', 'Victoria', 2000.0, Timestamp('2015-12-09 00:00:00')],
 [6,
  'Australia',
  'Western Australia',
  2000.0,
  Timestamp('2010-01-01 00:00:00')],
 [7, 'Canada', 'New Brunswick', 1105.0, Timestamp('2007-05-07 00:00:00')],
 [8,
  'Canada',
  'Newfoundland and Labrador',
  2105.0,
  Timestamp('2014-07-02 00:00:00')],
 [9,
  'Canada',
  'Northwest Territories',
  1500.0,
  Timestamp('2005-03-04 00:00:00')],
 [10, 'Canada', 'Nunavut', 1210.0, Timestamp('2015-04-04 00:00:00')],
 [11, 'Canada', 'Yukon', 1210.0, Timestamp('2009-06-03 00:00:00')],
 [12, 'France', 'Basse-Normandie', 350.0, Timestamp('2012-06-06 00:00:00')],
 [13, 'France', 'Corse', 245.0, Timestamp('2013-06-07 00:00:00')],
 [14, 'France', 'Franche-ComtÃ©', 350.0, Timestamp('2009-12-15 00:00:00')],
 [15, 'France', 'La RÃ©union', 400.0, Timestamp('2015-01-01 00:00:00')],
 [16, 'France', 'Limousin', 385.0, Timestamp('2010-06-03 00:00:00')],
 [17, 'France', 'Martinique', 350.0, Timestamp('2007-07-08 00:00:00')],
 [18, 'France', 'Mayotte', 310.0, Timestamp('2012-08-08 00:00:00')],
 [19, 'Germany', 'Berlin', 1295.0, Timestamp('2015-04-04 00:00:00')],
 [20, 'Germany', 'Brandenburg', 1715.0, Timestamp('2012-12-15 00:00:00')],
 [21,
  'Germany',
  'Freie Hansestadt Bremen',
  560.0,
  Timestamp('2018-06-03 00:00:00')],
 [22,
  'Germany',
  'Freistaat ThÃ¼ringen',
  2000.0,
  Timestamp('2008-03-06 00:00:00')],
 [23, 'Germany', 'Hamburg', 1365.0, Timestamp('2010-01-01 00:00:00')],
 [24, 'Germany', 'Hessen', 1855.0, Timestamp('2012-12-15 00:00:00')],
 [25,
  'Germany',
  'Mecklenburg-Vorpommern',
  1610.0,
  Timestamp('2010-01-01 00:00:00')],
 [26, 'Germany', 'Saarland', 350.0, Timestamp('2019-03-05 00:00:00')],
 [27, 'Germany', 'Sachsen-Anhalt', 2000.0, Timestamp('2008-08-08 00:00:00')],
 [28, 'Italy', 'Caltanissetta', 1200.0, Timestamp('2012-12-15 00:00:00')],
 [29, 'Italy', 'Enna', 1000.0, Timestamp('2008-01-01 00:00:00')],
 [30, 'Italy', 'Pesaro', 2100.0, Timestamp('2008-01-12 00:00:00')],
 [31, 'Netherlands', 'Drenthe', 1085.0, Timestamp('2012-01-07 00:00:00')],
 [32, 'Netherlands', 'Flevoland', 910.0, Timestamp('2010-01-01 00:00:00')],
 [33, 'Netherlands', 'Friesland', 1540.0, Timestamp('2015-12-09 00:00:00')],
 [34, 'Netherlands', 'Groningen', 1365.0, Timestamp('2010-01-01 00:00:00')],
 [35, 'Netherlands', 'Zeeland', 1225.0, Timestamp('2007-05-07 00:00:00')],
 [36, 'United Kingdom', 'Armagh', 1300.0, Timestamp('2014-07-02 00:00:00')],
 [37, 'United Kingdom', 'Ayrshire', 2100.0, Timestamp('2005-03-04 00:00:00')],
 [38, 'United Kingdom', 'Belfast', 1800.0, Timestamp('2015-04-04 00:00:00')],
 [39,
  'United Kingdom',
  'Blaenau Gwent',
  2100.0,
  Timestamp('2009-06-03 00:00:00')],
 [40,
  'United Kingdom',
  'Dungannon and South Tyrone',
  1300.0,
  Timestamp('2012-06-06 00:00:00')],
 [41, 'United Kingdom', 'Fermanagh', 2100.0, Timestamp('2013-06-07 00:00:00')],
 [42,
  'United Kingdom',
  'North Down',
  1900.0,
  Timestamp('2009-12-15 00:00:00')],
 [43, 'United States', 'Alaska', 1190.0, Timestamp('2015-01-01 00:00:00')],
 [44, 'United States', 'Arkansas', 2000.0, Timestamp('2010-06-03 00:00:00')],
 [45,
  'United States',
  'Connecticut',
  2000.0,
  Timestamp('2007-07-08 00:00:00')],
 [46, 'United States', 'Delaware', 1015.0, Timestamp('2012-08-08 00:00:00')],
 [47, 'United States', 'Hawaii', 1120.0, Timestamp('2015-04-04 00:00:00')],
 [48, 'United States', 'Idaho', 1540.0, Timestamp('2012-12-15 00:00:00')],
 [49, 'United States', 'Iowa', 2000.0, Timestamp('2018-06-03 00:00:00')],
 [50, 'United States', 'Kansas', 2000.0, Timestamp('2008-03-06 00:00:00')],
 [51, 'United States', 'Maine', 1295.0, Timestamp('2010-01-01 00:00:00')],
 [52,
  'United States',
  'Mississippi',
  2000.0,
  Timestamp('2009-06-03 00:00:00')],
 [53, 'United States', 'Montana', 1260.0, Timestamp('2012-06-06 00:00:00')],
 [54, 'United States', 'Nebraska', 2000.0, Timestamp('2013-06-07 00:00:00')],
 [55, 'United States', 'Nevada', 2000.0, Timestamp('2009-12-15 00:00:00')],
 [56,
  'United States',
  'New Hampshire',
  1260.0,
  Timestamp('2015-01-01 00:00:00')],
 [57, 'United States', 'New Mexico', 1645.0, Timestamp('2010-06-03 00:00:00')],
 [58,
  'United States',
  'North Dakota',
  1330.0,
  Timestamp('2007-07-08 00:00:00')],
 [59, 'United States', 'Oregon', 2000.0, Timestamp('2012-08-08 00:00:00')],
 [60,
  'United States',
  'Rhode Island',
  1260.0,
  Timestamp('2005-04-04 00:00:00')],
 [61,
  'United States',
  'South Carolina',
  2000.0,
  Timestamp('2012-12-15 00:00:00')],
 [62,
  'United States',
  'South Dakota',
  1120.0,
  Timestamp('2018-06-03 00:00:00')],
 [63, 'United States', 'Utah', 2000.0, Timestamp('2008-03-06 00:00:00')],
 [64,
  'United States',
  'Washington DC',
  1330.0,
  Timestamp('2010-01-01 00:00:00')],
 [65,
  'United States',
  'West Virginia',
  1785.0,
  Timestamp('2012-01-01 00:00:00')],
 [66, 'United States', 'Wyoming', 840.0, Timestamp('2014-01-01 00:00:00')],
 [0, 'Online', 'Online', 0.0, Timestamp('2010-01-01 00:00:00')]]

In [65]:
stores_create_query = '''create table if not exists Stores(StoreKey int,
                                        Country varchar(40),
                                        State varchar(40),
                                        Square_Meters decimal,
                                        Open_Date date)'''
cursor.execute(stores_create_query)
mydb.commit()

In [67]:
stores_insert_query = '''insert into Stores(StoreKey,
                                        Country,
                                        State,
                                        Square_Meters,
                                        Open_Date)
                                        
                                        values(%s,%s,%s,%s,%s)'''
cursor.executemany(stores_insert_query, storesdatas)
mydb.commit()

In [1]:
import pandas as pd

In [2]:
exchangeratesdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Exchange_Rates.csv", engine='python', encoding="ISO-8859-1")
exchangeratesdf.head(20)

        Date Currency  Exchange
0   1/1/2015      USD    1.0000
1   1/1/2015      CAD    1.1583
2   1/1/2015      AUD    1.2214
3   1/1/2015      EUR    0.8237
4   1/1/2015      GBP    0.6415
5   1/2/2015      USD    1.0000
6   1/2/2015      CAD    1.1682
7   1/2/2015      AUD    1.2323
8   1/2/2015      EUR    0.8304
9   1/2/2015      GBP    0.6477
10  1/3/2015      USD    1.0000
11  1/3/2015      CAD    1.1682
12  1/3/2015      AUD    1.2323
13  1/3/2015      EUR    0.8304
14  1/3/2015      GBP    0.6477
15  1/4/2015      USD    1.0000
16  1/4/2015      CAD    1.1682
17  1/4/2015      AUD    1.2323
18  1/4/2015      EUR    0.8304
19  1/4/2015      GBP    0.6477

In [7]:
exchangeratesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [3]:
exchangeratesdf['Date'] = pd.to_datetime(exchangeratesdf['Date'])

In [5]:
exchangeratesdf.columns

Index(['Date', 'Currency', 'Exchange'], dtype='object')

In [8]:
exchangeratesdf.duplicated().sum()

np.int64(0)

In [4]:
exchangeratesdatas = exchangeratesdf.values.tolist()
exchangeratesdatas

[[Timestamp('2015-01-01 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-01 00:00:00'), 'CAD', 1.1583],
 [Timestamp('2015-01-01 00:00:00'), 'AUD', 1.2214],
 [Timestamp('2015-01-01 00:00:00'), 'EUR', 0.8237],
 [Timestamp('2015-01-01 00:00:00'), 'GBP', 0.6415],
 [Timestamp('2015-01-02 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-02 00:00:00'), 'CAD', 1.1682],
 [Timestamp('2015-01-02 00:00:00'), 'AUD', 1.2323],
 [Timestamp('2015-01-02 00:00:00'), 'EUR', 0.8304],
 [Timestamp('2015-01-02 00:00:00'), 'GBP', 0.6477],
 [Timestamp('2015-01-03 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-03 00:00:00'), 'CAD', 1.1682],
 [Timestamp('2015-01-03 00:00:00'), 'AUD', 1.2323],
 [Timestamp('2015-01-03 00:00:00'), 'EUR', 0.8304],
 [Timestamp('2015-01-03 00:00:00'), 'GBP', 0.6477],
 [Timestamp('2015-01-04 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-04 00:00:00'), 'CAD', 1.1682],
 [Timestamp('2015-01-04 00:00:00'), 'AUD', 1.2323],
 [Timestamp('2015-01-04 00:00:00'), 'EUR', 0.8304],
 [Timestamp('2015-01-04 00:00:00'), 'GBP', 0.6477],
 [Timestamp('2015-01-05 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-05 00:00:00'), 'CAD', 1.1784],
 [Timestamp('2015-01-05 00:00:00'), 'AUD', 1.2384],
 [Timestamp('2015-01-05 00:00:00'), 'EUR', 0.8393],
 [Timestamp('2015-01-05 00:00:00'), 'GBP', 0.6569],
 [Timestamp('2015-01-06 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-06 00:00:00'), 'CAD', 1.1763],
 [Timestamp('2015-01-06 00:00:00'), 'AUD', 1.2288],
 [Timestamp('2015-01-06 00:00:00'), 'EUR', 0.8393],
 [Timestamp('2015-01-06 00:00:00'), 'GBP', 0.6582],
 [Timestamp('2015-01-07 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-07 00:00:00'), 'CAD', 1.183],
 [Timestamp('2015-01-07 00:00:00'), 'AUD', 1.2391],
 [Timestamp('2015-01-07 00:00:00'), 'EUR', 0.8452],
 [Timestamp('2015-01-07 00:00:00'), 'GBP', 0.6612],
 [Timestamp('2015-01-08 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-08 00:00:00'), 'CAD', 1.1816],
 [Timestamp('2015-01-08 00:00:00'), 'AUD', 1.2337],
 [Timestamp('2015-01-08 00:00:00'), 'EUR', 0.8498],
 [Timestamp('2015-01-08 00:00:00'), 'GBP', 0.6637],
 [Timestamp('2015-01-09 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-09 00:00:00'), 'CAD', 1.182],
 [Timestamp('2015-01-09 00:00:00'), 'AUD', 1.228],
 [Timestamp('2015-01-09 00:00:00'), 'EUR', 0.8465],
 [Timestamp('2015-01-09 00:00:00'), 'GBP', 0.6602],
 [Timestamp('2015-01-10 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-10 00:00:00'), 'CAD', 1.182],
 [Timestamp('2015-01-10 00:00:00'), 'AUD', 1.228],
 [Timestamp('2015-01-10 00:00:00'), 'EUR', 0.8465],
 [Timestamp('2015-01-10 00:00:00'), 'GBP', 0.6602],
 [Timestamp('2015-01-11 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-11 00:00:00'), 'CAD', 1.182],
 [Timestamp('2015-01-11 00:00:00'), 'AUD', 1.228],
 [Timestamp('2015-01-11 00:00:00'), 'EUR', 0.8465],
 [Timestamp('2015-01-11 00:00:00'), 'GBP', 0.6602],
 [Timestamp('2015-01-12 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-12 00:00:00'), 'CAD', 1.1897],
 [Timestamp('2015-01-12 00:00:00'), 'AUD', 1.2282],
 [Timestamp('2015-01-12 00:00:00'), 'EUR', 0.8472],
 [Timestamp('2015-01-12 00:00:00'), 'GBP', 0.66],
 [Timestamp('2015-01-13 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-13 00:00:00'), 'CAD', 1.1966],
 [Timestamp('2015-01-13 00:00:00'), 'AUD', 1.2257],
 [Timestamp('2015-01-13 00:00:00'), 'EUR', 0.8488],
 [Timestamp('2015-01-13 00:00:00'), 'GBP', 0.6592],
 [Timestamp('2015-01-14 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-14 00:00:00'), 'CAD', 1.1965],
 [Timestamp('2015-01-14 00:00:00'), 'AUD', 1.2291],
 [Timestamp('2015-01-14 00:00:00'), 'EUR', 0.8493],
 [Timestamp('2015-01-14 00:00:00'), 'GBP', 0.6584],
 [Timestamp('2015-01-15 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-15 00:00:00'), 'CAD', 1.1834],
 [Timestamp('2015-01-15 00:00:00'), 'AUD', 1.208],
 [Timestamp('2015-01-15 00:00:00'), 'EUR', 0.8541],
 [Timestamp('2015-01-15 00:00:00'), 'GBP', 0.6553],
 [Timestamp('2015-01-16 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-16 00:00:00'), 'CAD', 1.2035],
 [Timestamp('2015-01-16 00:00:00'), 'AUD', 1.2179],
 [Timestamp('2015-01-16 00:00:00'), 'EUR', 0.863],
 [Timestamp('2015-01-16 00:00:00'), 'GBP', 0.659],
 [Timestamp('2015-01-17 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-17 00:00:00'), 'CAD', 1.2035],
 [Timestamp('2015-01-17 00:00:00'), 'AUD', 1.2179],
 [Timestamp('2015-01-17 00:00:00'), 'EUR', 0.863],
 [Timestamp('2015-01-17 00:00:00'), 'GBP', 0.659],
 [Timestamp('2015-01-18 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-18 00:00:00'), 'CAD', 1.2035],
 [Timestamp('2015-01-18 00:00:00'), 'AUD', 1.2179],
 [Timestamp('2015-01-18 00:00:00'), 'EUR', 0.863],
 [Timestamp('2015-01-18 00:00:00'), 'GBP', 0.659],
 [Timestamp('2015-01-19 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-19 00:00:00'), 'CAD', 1.1983],
 [Timestamp('2015-01-19 00:00:00'), 'AUD', 1.2179],
 [Timestamp('2015-01-19 00:00:00'), 'EUR', 0.8617],
 [Timestamp('2015-01-19 00:00:00'), 'GBP', 0.6604],
 [Timestamp('2015-01-20 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-20 00:00:00'), 'CAD', 1.2013],
 [Timestamp('2015-01-20 00:00:00'), 'AUD', 1.2197],
 [Timestamp('2015-01-20 00:00:00'), 'EUR', 0.8636],
 [Timestamp('2015-01-20 00:00:00'), 'GBP', 0.6596],
 [Timestamp('2015-01-21 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-21 00:00:00'), 'CAD', 1.2075],
 [Timestamp('2015-01-21 00:00:00'), 'AUD', 1.2174],
 [Timestamp('2015-01-21 00:00:00'), 'EUR', 0.8626],
 [Timestamp('2015-01-21 00:00:00'), 'GBP', 0.6617],
 [Timestamp('2015-01-22 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-22 00:00:00'), 'CAD', 1.2354],
 [Timestamp('2015-01-22 00:00:00'), 'AUD', 1.2308],
 [Timestamp('2015-01-22 00:00:00'), 'EUR', 0.8607],
 [Timestamp('2015-01-22 00:00:00'), 'GBP', 0.6579],
 [Timestamp('2015-01-23 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-23 00:00:00'), 'CAD', 1.2446],
 [Timestamp('2015-01-23 00:00:00'), 'AUD', 1.2653],
 [Timestamp('2015-01-23 00:00:00'), 'EUR', 0.893],
 [Timestamp('2015-01-23 00:00:00'), 'GBP', 0.6674],
 [Timestamp('2015-01-24 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-24 00:00:00'), 'CAD', 1.2446],
 [Timestamp('2015-01-24 00:00:00'), 'AUD', 1.2653],
 [Timestamp('2015-01-24 00:00:00'), 'EUR', 0.893],
 [Timestamp('2015-01-24 00:00:00'), 'GBP', 0.6674],
 [Timestamp('2015-01-25 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-25 00:00:00'), 'CAD', 1.2446],
 [Timestamp('2015-01-25 00:00:00'), 'AUD', 1.2653],
 [Timestamp('2015-01-25 00:00:00'), 'EUR', 0.893],
 [Timestamp('2015-01-25 00:00:00'), 'GBP', 0.6674],
 [Timestamp('2015-01-26 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-26 00:00:00'), 'CAD', 1.2459],
 [Timestamp('2015-01-26 00:00:00'), 'AUD', 1.2653],
 [Timestamp('2015-01-26 00:00:00'), 'EUR', 0.8894],
 [Timestamp('2015-01-26 00:00:00'), 'GBP', 0.6661],
 [Timestamp('2015-01-27 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-27 00:00:00'), 'CAD', 1.2458],
 [Timestamp('2015-01-27 00:00:00'), 'AUD', 1.2589],
 [Timestamp('2015-01-27 00:00:00'), 'EUR', 0.8845],
 [Timestamp('2015-01-27 00:00:00'), 'GBP', 0.6609],
 [Timestamp('2015-01-28 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-28 00:00:00'), 'CAD', 1.2421],
 [Timestamp('2015-01-28 00:00:00'), 'AUD', 1.2548],
 [Timestamp('2015-01-28 00:00:00'), 'EUR', 0.8815],
 [Timestamp('2015-01-28 00:00:00'), 'GBP', 0.6581],
 [Timestamp('2015-01-29 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-29 00:00:00'), 'CAD', 1.2531],
 [Timestamp('2015-01-29 00:00:00'), 'AUD', 1.2846],
 [Timestamp('2015-01-29 00:00:00'), 'EUR', 0.8838],
 [Timestamp('2015-01-29 00:00:00'), 'GBP', 0.6608],
 [Timestamp('2015-01-30 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-30 00:00:00'), 'CAD', 1.267],
 [Timestamp('2015-01-30 00:00:00'), 'AUD', 1.2857],
 [Timestamp('2015-01-30 00:00:00'), 'EUR', 0.8846],
 [Timestamp('2015-01-30 00:00:00'), 'GBP', 0.6644],
 [Timestamp('2015-01-31 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-01-31 00:00:00'), 'CAD', 1.267],
 [Timestamp('2015-01-31 00:00:00'), 'AUD', 1.2857],
 [Timestamp('2015-01-31 00:00:00'), 'EUR', 0.8846],
 [Timestamp('2015-01-31 00:00:00'), 'GBP', 0.6644],
 [Timestamp('2015-02-01 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-01 00:00:00'), 'CAD', 1.267],
 [Timestamp('2015-02-01 00:00:00'), 'AUD', 1.2857],
 [Timestamp('2015-02-01 00:00:00'), 'EUR', 0.8846],
 [Timestamp('2015-02-01 00:00:00'), 'GBP', 0.6644],
 [Timestamp('2015-02-02 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-02 00:00:00'), 'CAD', 1.2672],
 [Timestamp('2015-02-02 00:00:00'), 'AUD', 1.2841],
 [Timestamp('2015-02-02 00:00:00'), 'EUR', 0.8842],
 [Timestamp('2015-02-02 00:00:00'), 'GBP', 0.6654],
 [Timestamp('2015-02-03 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-03 00:00:00'), 'CAD', 1.2584],
 [Timestamp('2015-02-03 00:00:00'), 'AUD', 1.3009],
 [Timestamp('2015-02-03 00:00:00'), 'EUR', 0.879],
 [Timestamp('2015-02-03 00:00:00'), 'GBP', 0.6628],
 [Timestamp('2015-02-04 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-04 00:00:00'), 'CAD', 1.2452],
 [Timestamp('2015-02-04 00:00:00'), 'AUD', 1.2862],
 [Timestamp('2015-02-04 00:00:00'), 'EUR', 0.8737],
 [Timestamp('2015-02-04 00:00:00'), 'GBP', 0.6566],
 [Timestamp('2015-02-05 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-05 00:00:00'), 'CAD', 1.2524],
 [Timestamp('2015-02-05 00:00:00'), 'AUD', 1.281],
 [Timestamp('2015-02-05 00:00:00'), 'EUR', 0.8764],
 [Timestamp('2015-02-05 00:00:00'), 'GBP', 0.6557],
 [Timestamp('2015-02-06 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-06 00:00:00'), 'CAD', 1.2445],
 [Timestamp('2015-02-06 00:00:00'), 'AUD', 1.273],
 [Timestamp('2015-02-06 00:00:00'), 'EUR', 0.8736],
 [Timestamp('2015-02-06 00:00:00'), 'GBP', 0.6528],
 [Timestamp('2015-02-07 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-07 00:00:00'), 'CAD', 1.2445],
 [Timestamp('2015-02-07 00:00:00'), 'AUD', 1.273],
 [Timestamp('2015-02-07 00:00:00'), 'EUR', 0.8736],
 [Timestamp('2015-02-07 00:00:00'), 'GBP', 0.6528],
 [Timestamp('2015-02-08 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-08 00:00:00'), 'CAD', 1.2445],
 [Timestamp('2015-02-08 00:00:00'), 'AUD', 1.273],
 [Timestamp('2015-02-08 00:00:00'), 'EUR', 0.8736],
 [Timestamp('2015-02-08 00:00:00'), 'GBP', 0.6528],
 [Timestamp('2015-02-09 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-09 00:00:00'), 'CAD', 1.25],
 [Timestamp('2015-02-09 00:00:00'), 'AUD', 1.2798],
 [Timestamp('2015-02-09 00:00:00'), 'EUR', 0.8869],
 [Timestamp('2015-02-09 00:00:00'), 'GBP', 0.6576],
 [Timestamp('2015-02-10 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-10 00:00:00'), 'CAD', 1.2471],
 [Timestamp('2015-02-10 00:00:00'), 'AUD', 1.2855],
 [Timestamp('2015-02-10 00:00:00'), 'EUR', 0.8852],
 [Timestamp('2015-02-10 00:00:00'), 'GBP', 0.6568],
 [Timestamp('2015-02-11 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-11 00:00:00'), 'CAD', 1.2611],
 [Timestamp('2015-02-11 00:00:00'), 'AUD', 1.291],
 [Timestamp('2015-02-11 00:00:00'), 'EUR', 0.8839],
 [Timestamp('2015-02-11 00:00:00'), 'GBP', 0.6537],
 [Timestamp('2015-02-12 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-12 00:00:00'), 'CAD', 1.256],
 [Timestamp('2015-02-12 00:00:00'), 'AUD', 1.3031],
 [Timestamp('2015-02-12 00:00:00'), 'EUR', 0.8828],
 [Timestamp('2015-02-12 00:00:00'), 'GBP', 0.6511],
 [Timestamp('2015-02-13 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-13 00:00:00'), 'CAD', 1.2508],
 [Timestamp('2015-02-13 00:00:00'), 'AUD', 1.2907],
 [Timestamp('2015-02-13 00:00:00'), 'EUR', 0.8787],
 [Timestamp('2015-02-13 00:00:00'), 'GBP', 0.6503],
 [Timestamp('2015-02-14 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-14 00:00:00'), 'CAD', 1.2508],
 [Timestamp('2015-02-14 00:00:00'), 'AUD', 1.2907],
 [Timestamp('2015-02-14 00:00:00'), 'EUR', 0.8787],
 [Timestamp('2015-02-14 00:00:00'), 'GBP', 0.6503],
 [Timestamp('2015-02-15 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-15 00:00:00'), 'CAD', 1.2508],
 [Timestamp('2015-02-15 00:00:00'), 'AUD', 1.2907],
 [Timestamp('2015-02-15 00:00:00'), 'EUR', 0.8787],
 [Timestamp('2015-02-15 00:00:00'), 'GBP', 0.6503],
 [Timestamp('2015-02-16 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-16 00:00:00'), 'CAD', 1.2453],
 [Timestamp('2015-02-16 00:00:00'), 'AUD', 1.2859],
 [Timestamp('2015-02-16 00:00:00'), 'EUR', 0.8766],
 [Timestamp('2015-02-16 00:00:00'), 'GBP', 0.6505],
 [Timestamp('2015-02-17 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-17 00:00:00'), 'CAD', 1.2374],
 [Timestamp('2015-02-17 00:00:00'), 'AUD', 1.2784],
 [Timestamp('2015-02-17 00:00:00'), 'EUR', 0.876],
 [Timestamp('2015-02-17 00:00:00'), 'GBP', 0.6512],
 [Timestamp('2015-02-18 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-18 00:00:00'), 'CAD', 1.245],
 [Timestamp('2015-02-18 00:00:00'), 'AUD', 1.2837],
 [Timestamp('2015-02-18 00:00:00'), 'EUR', 0.8794],
 [Timestamp('2015-02-18 00:00:00'), 'GBP', 0.6483],
 [Timestamp('2015-02-19 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-19 00:00:00'), 'CAD', 1.252],
 [Timestamp('2015-02-19 00:00:00'), 'AUD', 1.285],
 [Timestamp('2015-02-19 00:00:00'), 'EUR', 0.8782],
 [Timestamp('2015-02-19 00:00:00'), 'GBP', 0.648],
 [Timestamp('2015-02-20 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-20 00:00:00'), 'CAD', 1.2456],
 [Timestamp('2015-02-20 00:00:00'), 'AUD', 1.2745],
 [Timestamp('2015-02-20 00:00:00'), 'EUR', 0.8851],
 [Timestamp('2015-02-20 00:00:00'), 'GBP', 0.6504],
 [Timestamp('2015-02-21 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-21 00:00:00'), 'CAD', 1.2456],
 [Timestamp('2015-02-21 00:00:00'), 'AUD', 1.2745],
 [Timestamp('2015-02-21 00:00:00'), 'EUR', 0.8851],
 [Timestamp('2015-02-21 00:00:00'), 'GBP', 0.6504],
 [Timestamp('2015-02-22 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-22 00:00:00'), 'CAD', 1.2456],
 [Timestamp('2015-02-22 00:00:00'), 'AUD', 1.2745],
 [Timestamp('2015-02-22 00:00:00'), 'EUR', 0.8851],
 [Timestamp('2015-02-22 00:00:00'), 'GBP', 0.6504],
 [Timestamp('2015-02-23 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-23 00:00:00'), 'CAD', 1.2618],
 [Timestamp('2015-02-23 00:00:00'), 'AUD', 1.2843],
 [Timestamp('2015-02-23 00:00:00'), 'EUR', 0.8851],
 [Timestamp('2015-02-23 00:00:00'), 'GBP', 0.6507],
 [Timestamp('2015-02-24 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-24 00:00:00'), 'CAD', 1.2643],
 [Timestamp('2015-02-24 00:00:00'), 'AUD', 1.2896],
 [Timestamp('2015-02-24 00:00:00'), 'EUR', 0.8828],
 [Timestamp('2015-02-24 00:00:00'), 'GBP', 0.6483],
 [Timestamp('2015-02-25 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-25 00:00:00'), 'CAD', 1.2441],
 [Timestamp('2015-02-25 00:00:00'), 'AUD', 1.2681],
 [Timestamp('2015-02-25 00:00:00'), 'EUR', 0.8814],
 [Timestamp('2015-02-25 00:00:00'), 'GBP', 0.6459],
 [Timestamp('2015-02-26 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-26 00:00:00'), 'CAD', 1.247],
 [Timestamp('2015-02-26 00:00:00'), 'AUD', 1.2686],
 [Timestamp('2015-02-26 00:00:00'), 'EUR', 0.8836],
 [Timestamp('2015-02-26 00:00:00'), 'GBP', 0.6451],
 [Timestamp('2015-02-27 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-27 00:00:00'), 'CAD', 1.2451],
 [Timestamp('2015-02-27 00:00:00'), 'AUD', 1.2774],
 [Timestamp('2015-02-27 00:00:00'), 'EUR', 0.8897],
 [Timestamp('2015-02-27 00:00:00'), 'GBP', 0.6475],
 [Timestamp('2015-02-28 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-02-28 00:00:00'), 'CAD', 1.2451],
 [Timestamp('2015-02-28 00:00:00'), 'AUD', 1.2774],
 [Timestamp('2015-02-28 00:00:00'), 'EUR', 0.8897],
 [Timestamp('2015-02-28 00:00:00'), 'GBP', 0.6475],
 [Timestamp('2015-03-01 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-01 00:00:00'), 'CAD', 1.2451],
 [Timestamp('2015-03-01 00:00:00'), 'AUD', 1.2774],
 [Timestamp('2015-03-01 00:00:00'), 'EUR', 0.8897],
 [Timestamp('2015-03-01 00:00:00'), 'GBP', 0.6475],
 [Timestamp('2015-03-02 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-02 00:00:00'), 'CAD', 1.2492],
 [Timestamp('2015-03-02 00:00:00'), 'AUD', 1.2856],
 [Timestamp('2015-03-02 00:00:00'), 'EUR', 0.8907],
 [Timestamp('2015-03-02 00:00:00'), 'GBP', 0.6497],
 [Timestamp('2015-03-03 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-03 00:00:00'), 'CAD', 1.2519],
 [Timestamp('2015-03-03 00:00:00'), 'AUD', 1.2794],
 [Timestamp('2015-03-03 00:00:00'), 'EUR', 0.8954],
 [Timestamp('2015-03-03 00:00:00'), 'GBP', 0.6515],
 [Timestamp('2015-03-04 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-04 00:00:00'), 'CAD', 1.2515],
 [Timestamp('2015-03-04 00:00:00'), 'AUD', 1.2757],
 [Timestamp('2015-03-04 00:00:00'), 'EUR', 0.899],
 [Timestamp('2015-03-04 00:00:00'), 'GBP', 0.6526],
 [Timestamp('2015-03-05 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-05 00:00:00'), 'CAD', 1.244],
 [Timestamp('2015-03-05 00:00:00'), 'AUD', 1.2833],
 [Timestamp('2015-03-05 00:00:00'), 'EUR', 0.9034],
 [Timestamp('2015-03-05 00:00:00'), 'GBP', 0.6551],
 [Timestamp('2015-03-06 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-06 00:00:00'), 'CAD', 1.2466],
 [Timestamp('2015-03-06 00:00:00'), 'AUD', 1.2761],
 [Timestamp('2015-03-06 00:00:00'), 'EUR', 0.9122],
 [Timestamp('2015-03-06 00:00:00'), 'GBP', 0.6586],
 [Timestamp('2015-03-07 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-07 00:00:00'), 'CAD', 1.2466],
 [Timestamp('2015-03-07 00:00:00'), 'AUD', 1.2761],
 [Timestamp('2015-03-07 00:00:00'), 'EUR', 0.9122],
 [Timestamp('2015-03-07 00:00:00'), 'GBP', 0.6586],
 [Timestamp('2015-03-08 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-08 00:00:00'), 'CAD', 1.2466],
 [Timestamp('2015-03-08 00:00:00'), 'AUD', 1.2761],
 [Timestamp('2015-03-08 00:00:00'), 'EUR', 0.9122],
 [Timestamp('2015-03-08 00:00:00'), 'GBP', 0.6586],
 [Timestamp('2015-03-09 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-09 00:00:00'), 'CAD', 1.2591],
 [Timestamp('2015-03-09 00:00:00'), 'AUD', 1.2931],
 [Timestamp('2015-03-09 00:00:00'), 'EUR', 0.9208],
 [Timestamp('2015-03-09 00:00:00'), 'GBP', 0.6617],
 [Timestamp('2015-03-10 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-10 00:00:00'), 'CAD', 1.2634],
 [Timestamp('2015-03-10 00:00:00'), 'AUD', 1.3069],
 [Timestamp('2015-03-10 00:00:00'), 'EUR', 0.9313],
 [Timestamp('2015-03-10 00:00:00'), 'GBP', 0.6638],
 [Timestamp('2015-03-11 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-11 00:00:00'), 'CAD', 1.2698],
 [Timestamp('2015-03-11 00:00:00'), 'AUD', 1.314],
 [Timestamp('2015-03-11 00:00:00'), 'EUR', 0.9454],
 [Timestamp('2015-03-11 00:00:00'), 'GBP', 0.6651],
 [Timestamp('2015-03-12 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-12 00:00:00'), 'CAD', 1.2656],
 [Timestamp('2015-03-12 00:00:00'), 'AUD', 1.2976],
 [Timestamp('2015-03-12 00:00:00'), 'EUR', 0.9422],
 [Timestamp('2015-03-12 00:00:00'), 'GBP', 0.6681],
 [Timestamp('2015-03-13 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-13 00:00:00'), 'CAD', 1.2734],
 [Timestamp('2015-03-13 00:00:00'), 'AUD', 1.3053],
 [Timestamp('2015-03-13 00:00:00'), 'EUR', 0.9459],
 [Timestamp('2015-03-13 00:00:00'), 'GBP', 0.6766],
 [Timestamp('2015-03-14 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-14 00:00:00'), 'CAD', 1.2734],
 [Timestamp('2015-03-14 00:00:00'), 'AUD', 1.3053],
 [Timestamp('2015-03-14 00:00:00'), 'EUR', 0.9459],
 [Timestamp('2015-03-14 00:00:00'), 'GBP', 0.6766],
 [Timestamp('2015-03-15 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-15 00:00:00'), 'CAD', 1.2734],
 [Timestamp('2015-03-15 00:00:00'), 'AUD', 1.3053],
 [Timestamp('2015-03-15 00:00:00'), 'EUR', 0.9459],
 [Timestamp('2015-03-15 00:00:00'), 'GBP', 0.6766],
 [Timestamp('2015-03-16 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-16 00:00:00'), 'CAD', 1.2781],
 [Timestamp('2015-03-16 00:00:00'), 'AUD', 1.3069],
 [Timestamp('2015-03-16 00:00:00'), 'EUR', 0.9472],
 [Timestamp('2015-03-16 00:00:00'), 'GBP', 0.6755],
 [Timestamp('2015-03-17 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-17 00:00:00'), 'CAD', 1.2774],
 [Timestamp('2015-03-17 00:00:00'), 'AUD', 1.3083],
 [Timestamp('2015-03-17 00:00:00'), 'EUR', 0.9403],
 [Timestamp('2015-03-17 00:00:00'), 'GBP', 0.677],
 [Timestamp('2015-03-18 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-18 00:00:00'), 'CAD', 1.2824],
 [Timestamp('2015-03-18 00:00:00'), 'AUD', 1.3124],
 [Timestamp('2015-03-18 00:00:00'), 'EUR', 0.9441],
 [Timestamp('2015-03-18 00:00:00'), 'GBP', 0.6826],
 [Timestamp('2015-03-19 00:00:00'), 'USD', 1.0],
 [Timestamp('2015-03-19 00:00:00'), 'CAD', 1.2717],
 [Timestamp('2015-03-19 00:00:00'), 'AUD', 1.308],
 [Timestamp('2015-03-19 00:00:00'), 'EUR', 0.9366],

In [5]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",
                               username="root",
                               password="Barsilla9722!",
                               database="project1")
cursor = mydb.cursor()

In [6]:
exchange_rates_create_query = '''create table if not exists ExchangeRates(Date date,
                                        Currency varchar(40),
                                        Exchange float)'''
cursor.execute(exchange_rates_create_query)
mydb.commit()

In [7]:
exchange_rates_insert_query = '''insert into ExchangeRates(Date,
                                        Currency,
                                        Exchange)
                                        
                                        values(%s,%s,%s)'''
cursor.executemany(exchange_rates_insert_query, exchangeratesdatas)
mydb.commit()