In [ ]:
pip install pandas

In [2]:
import pandas as pd

In [ ]:
#df = pd.read_csv("C:\Users\barsilla\Desktop\Project 1\Customers.csv", engine='python', encoding="ISO-8859-1")
df = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Customers.csv", engine='python', encoding="ISO-8859-1")
df.head()

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [15]:
df.duplicated().sum()

np.int64(0)

In [17]:
df.fillna("",inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [18]:
df['Birthday'] = pd.to_datetime(df['Birthday'])
df['Birthday'].dtype

dtype('<M8[ns]')

In [ ]:
df['Zip Code'].unique()

In [ ]:
df.info()

In [ ]:
df['State Code'].fillna("", inplace=True)

In [ ]:
df.columns

In [ ]:
datas = df.values.tolist()
datas

In [ ]:
pip install mysql-connector-python

In [4]:
import mysql.connector

In [5]:
mydb = mysql.connector.connect(host="localhost",
                               username="root",
                               password="Barsilla9722!",
                               database="project1")
cursor = mydb.cursor()

In [15]:
create_query = '''create table if not exists Customers(CustomerKey int,
                                        Gender varchar(40),
                                        Name varchar(100),
                                        City varchar(40),
                                        State_Code varchar(40),
                                        State varchar(40),
                                        Zip_Code varchar(40),
                                        Country varchar(40),
                                        Continent varchar(40),
                                        Birthday date)'''
cursor.execute(create_query)
mydb.commit()

In [23]:
insert_query = '''insert into Customers(CustomerKey,
                                        Gender,
                                        Name,
                                        City,
                                        State_Code,
                                        State,
                                        Zip_Code,
                                        Country,
                                        Continent,
                                        Birthday)
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
cursor.executemany(insert_query, datas)
mydb.commit()

In [2]:
import pandas as pd

In [ ]:
productsdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Products.csv", engine='python', encoding="ISO-8859-1")
productsdf.head(115)

In [ ]:
productsdf.info()

In [ ]:
productsdf.columns

In [18]:
productsdf.duplicated().sum()

np.int64(0)

In [25]:
product_create_query = '''create table if not exists Products(ProductKey int,
                                        Product_Name varchar(250),
                                        Brand varchar(40),
                                        Color varchar(20),
                                        Unit_Cost_USD varchar(15),
                                        Unit_Price_USD varchar(15),
                                        SubcategoryKey int,
                                        Subcategory varchar(40),
                                        CategoryKey int,
                                        Category varchar(40))'''
cursor.execute(product_create_query)
mydb.commit()

In [ ]:
productdatas = productsdf.values.tolist()
productdatas

In [27]:
product_insert_query = '''insert into Products(ProductKey,
                                        Product_Name,
                                        Brand,
                                        Color,
                                        Unit_Cost_USD,
                                        Unit_Price_USD,
                                        SubcategoryKey,
                                        Subcategory,
                                        CategoryKey,
                                        Category)
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
cursor.executemany(product_insert_query, productdatas)
mydb.commit()

In [ ]:
salesdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Sales.csv", engine='python', encoding="ISO-8859-1")
salesdf.head(20)

In [ ]:
salesdf.info()

In [48]:
#salesdf['Delivery Date'].fillna("", inplace=True)
salesdf.fillna("",inplace=True)

In [37]:
salesdf['Delivery Date'] = pd.to_datetime(salesdf['Delivery Date'])
salesdf['Order Date'] = pd.to_datetime(salesdf['Order Date'])
salesdf['Delivery Date'].dtype

dtype('<M8[ns]')

In [32]:
salesdf.duplicated().sum()

np.int64(0)

In [ ]:
salesdatas = salesdf.values.tolist()
salesdatas

In [50]:
sales_create_query = '''create table if not exists Sales(Order_Number int,
                                        Line_Item int,
                                        Order_Date date,
                                        Delivery_Date date,
                                        CustomerKey int,
                                        StoreKey int,
                                        ProductKey int,
                                        Quantity int,
                                        Currency_Code varchar(40))'''
cursor.execute(sales_create_query)
mydb.commit()

In [54]:
sales_insert_query = '''insert into Sales(Order_Number,
                                        Line_Item,
                                        Order_Date,
                                        Delivery_Date,
                                        CustomerKey,
                                        StoreKey,
                                        ProductKey,
                                        Quantity,
                                        Currency_Code)
                                        
                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
cursor.executemany(sales_insert_query, salesdatas)
mydb.commit()

In [ ]:
storesdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Stores.csv", engine='python', encoding="ISO-8859-1")
storesdf.head(20)

In [ ]:
storesdf.info()

In [ ]:
storesdf.fillna("",inplace=True)

In [58]:
storesdf['Open Date'] = pd.to_datetime(storesdf['Open Date'])

In [63]:
storesdf['Square Meters'] = pd.to_numeric(storesdf['Square Meters'], errors='coerce')
storesdf['Square Meters'] = storesdf['Square Meters'].fillna(0.0)
storesdf['Square Meters'] = storesdf['Square Meters'].astype(float)

In [ ]:
storesdf.columns

In [60]:
storesdf.duplicated().sum()

np.int64(0)

In [ ]:
storesdatas = storesdf.values.tolist()
storesdatas

In [65]:
stores_create_query = '''create table if not exists Stores(StoreKey int,
                                        Country varchar(40),
                                        State varchar(40),
                                        Square_Meters decimal,
                                        Open_Date date)'''
cursor.execute(stores_create_query)
mydb.commit()

In [67]:
stores_insert_query = '''insert into Stores(StoreKey,
                                        Country,
                                        State,
                                        Square_Meters,
                                        Open_Date)
                                        
                                        values(%s,%s,%s,%s,%s)'''
cursor.executemany(stores_insert_query, storesdatas)
mydb.commit()

In [1]:
import pandas as pd

In [ ]:
exchangeratesdf = pd.read_csv("C:\\Users\\barsilla\\Desktop\\Project 1\\Exchange_Rates.csv", engine='python', encoding="ISO-8859-1")
exchangeratesdf.head(20)

In [ ]:
exchangeratesdf.info()

In [3]:
exchangeratesdf['Date'] = pd.to_datetime(exchangeratesdf['Date'])

In [5]:
exchangeratesdf.columns

Index(['Date', 'Currency', 'Exchange'], dtype='object')

In [8]:
exchangeratesdf.duplicated().sum()

np.int64(0)

In [ ]:
exchangeratesdatas = exchangeratesdf.values.tolist()
exchangeratesdatas

In [5]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",
                               username="root",
                               password="Barsilla9722!",
                               database="project1")
cursor = mydb.cursor()

In [6]:
exchange_rates_create_query = '''create table if not exists ExchangeRates(Date date,
                                        Currency varchar(40),
                                        Exchange float)'''
cursor.execute(exchange_rates_create_query)
mydb.commit()

In [7]:
exchange_rates_insert_query = '''insert into ExchangeRates(Date,
                                        Currency,
                                        Exchange)
                                        
                                        values(%s,%s,%s)'''
cursor.executemany(exchange_rates_insert_query, exchangeratesdatas)
mydb.commit()